@use "./tag-label-tokens";
.c-tag-label {
}

.tag-label-container {
    display: flex;
    gap: var(--spacing-xs);
    flex-wrap: wrap;
    margin: 0 !important;
    > * {
        padding: 0 !important;
    }
}
