@use "./tag-label-tokens";

.tag-label-container {
  display: flex;
  gap: var(--ks-spacing-xs);
  flex-wrap: wrap;
  margin: 0 !important;
  > * {
    padding: 0 !important;
  }
}

.c-tag-label--list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--ks-spacing-stack-xs);
}
