@use "../breakpoint";
:root,
[ks-theme],
[ks-inverted] {
  .c-storytelling {
    --c-storytelling--horizontal-padding: 0;
    --c-storytelling--box-max-width: 36.85em;

    @include breakpoint.media("≥s") {
      --c-storytelling--horizontal-padding: var(--ks-spacing-l);
    }
  }
}
