@use "./storytelling-tokens";
@use "@kickstartds/core/source/core/breakpoint";
@import "../mixin.scss";

.c-storytelling {
  &__box {
    &--right.c-storytelling__box {
      padding-right: 0;
    }
    &--left.c-storytelling__box {
      padding-left: 0;
    }
    &__content {
      &--center {
        .c-storytelling__action {
          justify-content: center;
        }
      }
    }
  }

  &[data-bg] {
    .c-headline > :first-child,
    .c-rich-text {
      color: var(--l-section-dark-color);
    }

    .c-headline__subheadline {
      color: var(--color-primary-lighter-4);
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-s);
  }

  &.cta {
    background: var(--color-primary-lighter-6);
    padding: var(--spacing-xl) var(--spacing-xl);
    transition: 300ms all cubic-bezier(0.1, 0.9, 0.3, 1.5);
    gap: var(--spacing-s);

    clip-path: polygon(
      /* Corner Top Left */ 0% var(--spacing-m),
      var(--spacing-m) 0%,
      /* Corner Top Right */ 100% 0,
      100% 0,
      /* Corner Bottom Right */ 100% calc(100% - var(--spacing-xxl)),
      calc(100% - var(--l-section--space)) 100%,
      /* Corner Bottom Left */ var(--spacing-m) 100%,
      0 calc(100% - var(--spacing-m))
    );

    .template__side & {
      flex-direction: column;

      @include breakpoint.media(">s") {
        flex-direction: row;
      }
      @include breakpoint.media(">m") {
        flex-direction: column-reverse;
      }
    }

    .c-headline {
      max-width: 100%;

      &__headline {
        color: var(--color-primary);
      }
    }

    .c-storytelling__box {
      padding: 0 !important;
    }

    .c-rich-text {
      font: var(--font-ui-m);
      font-weight: var(--font-weight-bold);
      color: var(--color-primary);
    }
  }
}
