@use "./storytelling-tokens";
@use "../breakpoint";
@import "../mixin.scss";

.c-storytelling {
  &--full.c-storytelling--order-desktop-image-last {
    @include breakpoint.media("<s") {
      .c-storytelling__image {
        margin-bottom: 1rem;
      }
      .c-storytelling__box {
        padding-top: 0;
      }
    }
  }

  &__box {
    &--right.c-storytelling__box {
      padding-right: 0;
    }
    &--left.c-storytelling__box {
      padding-left: 0;
    }
    &__content {
      &--center {
        .c-storytelling__action {
          justify-content: center;
        }
      }
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ks-spacing-s);
  }

  &.cta {
    background: var(--ks-background-color-accent);
    padding: var(--ks-spacing-inset-stretch-m);
    transition: 300ms all cubic-bezier(0.1, 0.9, 0.3, 1.5);
    gap: var(--ks-spacing-s);

    clip-path: polygon(
      /* Corner Top Left */ 0% var(--ks-spacing-m),
      var(--ks-spacing-m) 0%,
      /* Corner Top Right */ 100% 0,
      100% 0,
      /* Corner Bottom Right */ 100% calc(100% - var(--ks-spacing-xl)),
      calc(100% - var(--ks-spacing-xl)) 100%,
      /* Corner Bottom Left */ var(--ks-spacing-m) 100%,
      0 calc(100% - var(--ks-spacing-m))
    );

    .template__side & {
      flex-direction: column;

      @include breakpoint.media(">s") {
        flex-direction: row;
      }
      @include breakpoint.media(">m") {
        flex-direction: column-reverse;
      }
    }

    .c-headline {
      max-width: 100%;

      &__headline {
        color: var(--ks-text-color-primary);
      }
    }

    .c-storytelling__box {
      padding: 0 !important;
    }

    .c-rich-text {
      font: var(--ks-font-interface-m);
      font-weight: var(--ks-font-weight-bold);
      color: var(--ks-text-color-primary);
    }
  }
}
