:root,
[ks-theme],
[ks-inverted] {
  .c-post-meta {
    --c-post-meta_item--font: var(--ks-font-interface-xs);
    --c-post-meta_item--color: var(--ks-text-color-interface);
    --c-post-meta_item--icon-size: 1.15rem;

    --c-post-meta_author--color: var(--ks-text-color-interface);
    --c-post-meta_author--avatar-border-radius: 0;
    --c-post-meta_author--avatar-size: 1.75rem;
    --c-post-meta--gap: var(--ks-spacing-stack-xs) var(--ks-spacing-inline-s);
  }
}
