.c-post-meta {
  --c-post-meta_item--font: var(--font-ui-xs);
  --c-post-meta_item--color: var(--color-grey-6);
  --c-post-meta_item--icon-size: 1.15rem;

  --c-post-meta_author--color: var(--color-grey-7);
  --c-post-meta_author--avatar-border-radius: 0;
  --c-post-meta_author--avatar-size: 1.75rem;
}
