.c-form-field {
  --c-form-field--border-radius: 0;
  --c-form-field--border: 3px solid;
  --c-form-field_focus--shadow: none;
  --c-form-field--border-color: var(--color-primary-alpha-3);
  --c-form-field_hover--border-color: var(--color-primary-alpha-5);
}
