.c-slider {
  --c-slider-nav--margin: var(--spacing-m);
}

.l-section--dark .c-slider {
  --c-slider_arrow--color: var(--l-section-dark-color);
  --c-slider_arrow--background-hover: var(--color-white-alpha-1);
  --c-slider_bullet--outline-color: var(--l-section-dark-color);
  --c-slider_bullet--outline-color-active: var(--color-white);
  --c-slider_bullet--background-active: var(--color-white);
  --c-slider_bullet--background-hover: var(--color-white-alpha-1);
}
