@use "@kickstartds/core/source/core/breakpoint";

:root {
  --g-header-height: calc(var(--g-logo-height) + calc(var(--g-header-spacing-v) * 2));
  --g-header-spacing: var(--g-header-spacing-v) var(--g-header-spacing-h);
  --g-header-spacing-h: var(--g-content-padding);
  --g-header-spacing-v: var(--spacing-l);
  --g-header-shadow: var(--g-shadow-s);
  --enc-header-spacing: var(--spacing-s);
}
