@use "../breakpoint";

:root {
  --c-announcement-bar-height: 85px;

  @include breakpoint.media("≥s") {
    --c-announcement-bar-height: 45px;
  }
}

:root,
[ks-theme],
[ks-inverted] {
  --g-header-height: calc(
    var(--g-logo-height) + calc(var(--g-header-spacing-v) * 2) + var(--c-announcement-bar-height)
  );
  --g-header-spacing: var(--g-header-spacing-v) var(--g-header-spacing-h);
  --g-header-spacing-h: var(--l-section--content-padding);
  --g-header-spacing-v: var(--ks-spacing-m);

  @include breakpoint.media("≥m") {
    --g-header-spacing-v: var(--ks-spacing-l);
  }
  --g-header-shadow: var(--g-shadow-s);
  --enc-header-spacing: var(--ks-spacing-s);
}
