:root,
[ks-theme],
[ks-inverted] {
  .c-teaser {
    --c-teaser--color: var(--ks-text-color-default);

    --c-teaser--background: var(--ks-background-color-default);
    --c-teaser--background-hover: var(--ks-background-color-default);

    --c-teaser--border-width: var(--ks-border-width-default);
    --c-teaser--border-color: var(--ks-border-color-interface-interactive);
    --c-teaser--border-color-hover: var(--ks-border-color-interface-interactive-hover);
    --c-teaser--border-style: solid;

    --c-teaser--padding: var(--ks-spacing-inset-stretch-s);

    --c-teaser--shadow-hover: none;
  }

  .c-teaser__text {
    --ks-text-color-default: var(--ks-color-primary);
    --c-teaser_text--spacing: var(--ks-spacing-xs);
  }
}
