@use "@kickstartds/core/source/core/breakpoint";

:root {
  --c-nav-main_background-color: var(--color-white);

  --c-nav-main_item--color: var(--color-primary-darker-1);
  --c-nav-main_item--color-active: var(--color-primary);
  --c-nav-main_item--color-hover: var(--color-primary);

  --c-nav-main_item--font: var(--font-ui-l);
  --c-nav-main_item--font-weight: var(--font-weight-semi-bold);
  --c-nav-main_item--font-weight-active: var(--font-weight-bold);

  --c-nav-main_item--padding: 0.5rem var(--g-header-spacing-h);

  @include breakpoint.media("≥m") {
    --c-nav-main_item--font: var(--font-ui-s);
    --c-nav-main_item--padding: none;
    --c-nav-main_item--background-color-hover: var(--color-secondary);

    .kds-header--light {
      --c-nav-main_item--color: var(--color-white);
      --c-nav-main_item--color-hover: var(--color-secondary);
    }
  }
}
