@use './contact-tokens';

.c-contact {
  height: fit-content;
  
  &__links {
    color: var(--g-link--color);

    .icon {
      opacity: var(--icon-opacity);
      width: var(--icon-size);
      height: var(--icon-size);
      margin-right: 0.35em;
    }
  }
}