@use './contact-tokens';

.c-contact {
  height: fit-content;

  &__links {
    color: var(--g-link--color);

    .icon {
      opacity: var(--c-contact-icon-opacity);
      width: var(--c-contact-icon-size);
      height: var(--c-contact-icon-size);
      margin-right: 0.35em;
    }
  }
}
