@use "../breakpoint";

.github-corner {
  fill: var(--ks-color-background-default);
  color: var(--ks-color-primary);
  position: fixed;
  top: 0;
  z-index: 100;
  border: 0;
  right: 0;
  width: 50px;
  height: 50px;

  @include breakpoint.media("≥s") {
    width: unset;
    height: unset;
  }

  .octo-arm {
    transform-origin: center;
  }

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }

  @include breakpoint.media("≥s") {
    &:hover .octo-arm {
      animation: none;
    }
    & .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
