.c-rich-text a, .c-rich-text.c-visual__text a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    padding: 2px;
    border-radius: 3px;
    &:hover {
      background: var(--color-primary-alpha-1);
      color: var(--color-primary);
    }
  }
  
  .l-section--dark .c-rich-text a {
    color: var(--color-secondary);
    &:hover {
      background: var(--color-secondary-alpha-1);
    }
  }