@use './rich-text-tokens';

.c-rich-text {
  .has-large-font-size {
    color: var(--g-headline--color);
    font: var(--font-ui-l);
  
    margin-top: var(--spacing-xl);
    
    &:first-child {
      margin-top: 0;
    }
  }
  strong {
    font-weight: var(--font-weight-bold);
  }
}

.c-rich-text a, .c-rich-text.c-visual__text a {
    padding: 2px;
  }

