@use "./post-teaser-tokens";
@use "@kickstartds/core/source/core/breakpoint";

.c-post-teaser {
  --g-headline--margin: var(--spacing-m) 0 var(--spacing-s);
  flex-direction: row-reverse;
  margin: 0;
  gap: var(--spacing-m);

  &__meta {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__date {
    padding: 0;
  }

  &__more {
    display: none;
  }

  &__body {
    padding: 0;
  }

  &__image {
    overflow: hidden;
    aspect-ratio: var(--c-post-teaser--image-aspect-ratio);
    display: flex;
    height: fit-content;
    justify-content: center;
    padding: 0;
    min-width: 34%;

    img {
      height: 100%;
      position: absolute;
      max-width: unset;
    }
  }
}
