@use "./post-teaser-tokens";

:root,
[ks-inverted],
[ks-theme] {
  .c-post-teaser {
    .c-teaser {
      --c-teaser--border-width: 0 !important;

      .c-teaser__body {
        padding: 0;
        --g-topic--font: var(--ks-font-display-m);
      }
    }
  }
}
