.text-media {
  &--highlight {
    .c-rich-text {
      font: var(--ks-font-interface-l);
    }
  }

  &__caption {
    font: var(--ks-font-interface-s);
    color: var(--ks-text-color-default);
  }
}

caption,
figcaption {
  font-style: normal;
}
