@use "./post-tokens";
@use "@kickstartds/core/source/core/breakpoint";

.c-post {
  &__content {
    max-width: calc(
      var(--g-content-width-narrow) - calc(var(--g-content-padding) * 2)
    );
    width: 100%;

    .c-share-bar {
      padding-top: var(--spacing-s);
      @include breakpoint.media(">m") {
        display: none;
      }
    }
  }

  &-head {
    &__meta {
      position: relative !important;
      top: unset !important;
      margin-bottom: var(--spacing-xs);
    }
  }

  &-text {
    > p {
      max-width: calc(
        var(--g-content-width-narrow) - calc(var(--g-content-padding) * 4)
      );
      margin: auto;
      margin-bottom: var(--c-rich-text--vertical-spacing);
      margin-top: var(--c-rich-text--vertical-spacing);
    }

    > .wp-block-video,
    > .wp-block-pullquote,
    > .wp-block-image {
      width: 100%;
      margin: auto;
      margin-top: var(--spacing-xl);
      margin-bottom: var(--spacing-xl);
    }
  }
}

.l-section--blog {
  .l-section__container {
    display: flex;
    @include breakpoint.media("<m") {
      flex-direction: column;
      gap: var(--spacing-xl);
    }

    @include breakpoint.media(">m") {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}
