@use "../breakpoint";

.c-post {
  &__content {
    max-width: calc(var(--l-section--content-width-narrow) - calc(var(--l-section--content-padding) * 2));
    flex-basis: 80%;
    flex-grow: 1;
    flex-shrink: 1;

    .c-post-share-bar {
      padding-top: var(--ks-spacing-s);
      @include breakpoint.media("≥m") {
        display: none;
      }
    }
  }

  &-text {
    > p:not(h2, h3) {
      @include breakpoint.media("≥m") {
        padding: 0 var(--ks-spacing-m);
      }
      max-width: var(--l-section--content-width-narrow);
      margin: auto;
      margin-bottom: var(--c-rich-text--vertical-spacing);
      margin-top: var(--c-rich-text--vertical-spacing);
    }

    > ul,
    > ol {
      @include breakpoint.media("≥m") {
        margin-left: var(--ks-spacing-m);
      }
    }
    > .wp-block-video,
    > .wp-block-pullquote,
    > .wp-block-image {
      width: 100%;
      margin: auto;
      margin-top: var(--ks-spacing-xl);
      margin-bottom: var(--ks-spacing-xl);
    }
  }
}

.l-section--blog {
  .l-section__container {
    display: flex;
    flex-direction: column;

    @include breakpoint.media("≥m") {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}
