:root {
  .l-section__container {
    --l-section_container--gutter: var(--spacing-l);

    @media (min-width: 40em) {
      --l-section_col--min-width: 12rem;

      .l-section--outer-width-wide & {
        --l-section_col--min-width: 16rem;
        --l-section_col--max-width: 500px;
      }
    }

    @media (min-width: 60em) {
      --l-section_container--gutter: var(--spacing-m);

      .l-section--outer-width-wide & {
        --l-section_col--min-width: 9rem;
        --l-section_col--max-width: 1fr;
      }
    }

    &--gutter-large {
      @media (min-width: 60em) {
        --l-section_container--gutter: var(--spacing-l);
      }
      @media (min-width: 60em) {
        --l-section_container--gutter: var(--spacing-xl);
        --l-section_col--min-width: 17rem;
      }
    }
    &--gutter-none {
      --l-section_container--gutter: 0;
    }
  }
  .l-section {
    --l-section--background: var(--color-white);

    &--accent {
      --l-section--background: var(--color-primary-lighter-6);
    }
    &--dark {
      --l-section--background: var(--color-primary);
    }
    &--dark-accent {
      --l-section--background: var(--color-primary-lighter-1);
    }
  }
}
