@use "./section-tokens";
@use "../breakpoint";

:root,
[ks-theme],
[ks-inverted] {
  --l-section--corner-top-left-height: var(--ks-spacing-l);
  --l-section--corner-top-right-height: 0px;
  --l-section--corner-bottom-left-height: 0px;
  --l-section--corner-bottom-right-height: var(--ks-spacing-xl);

  @include breakpoint.media(">s") {
    --l-section--corner-bottom-right-height: var(--ks-spacing-xxl);
  }

  .l-section {
    margin: auto;

    &-style {
      &--head,
      &--body {
        margin-top: calc(var(--transition-height) * -1);

        + .l-section--transition {
          padding-top: var(--transition-height);
        }
      }

      &--head {
        --transition-height: var(--ks-spacing-l);

        clip-path: polygon(
          var(--ks-spacing-xl) 0,
          calc(100% - var(--ks-spacing-xl)) 0,
          100% var(--transition-height),
          100% 100%,
          0 100%,
          0 var(--transition-height)
        );
      }

      &--body {
        --transition-height: var(--ks-spacing-m);

        &.l-section--space-before-none {
          padding-top: var(--transition-height) !important;
        }

        clip-path: polygon(
          0 0,
          var(--ks-spacing-xxl) var(--transition-height),
          calc(100% - var(--ks-spacing-xl)) 0,
          100% var(--transition-height),
          100% 100%,
          0 100%
        );
      }

      &--highlight {
        clip-path: polygon(
          /* Corner Top Left */ 0% var(--l-section--corner-top-left-height),
          var(--l-section--corner-top-left-height) 0%,
          /* Corner Top Right */ 100% 0,
          /* Corner Bottom Right */ 100% calc(100% - var(--l-section--corner-bottom-right-height)),
          calc(100% - var(--l-section--corner-bottom-right-height)) 100%,
          /* Corner Bottom Left */ var(--ks-spacing-m) 100%,
          0 calc(100% - var(--l-section--corner-bottom-left-height))
        );
      }
    }

    &--wrapper {
      overflow: hidden;
    }

    &__container {
      justify-content: center;

      &--gutter-small {
        gap: var(--l-section_container--gutter-small);
      }

      &--max,
      &--max {
        max-width: var(--l-section--content-width-max);
      }

      &--slim {
        max-width: var(--l-section--content-width-slim);
      }
    }

    &--outer-width-default {
      @media (min-width: 40em) {
        max-width: calc(100% - calc(var(--l-section--content-padding) * 2));
      }

      @media (min-width: 1235px) {
        max-width: calc(var(--l-section--content-width-default) - calc(var(--l-section--content-padding) * 2));
      }
    }

    &--outer-width-narrow {
      @media (min-width: 40em) {
        max-width: calc(100% - calc(var(--l-section--content-padding) * 2));
      }

      @media (min-width: 960px) {
        max-width: calc(var(--l-section--content-width-narrow) - calc(var(--l-section--content-padding) * 2));
      }
    }

    &--outer-width-wide {
      @media (min-width: 40em) {
        max-width: calc(100% - calc(var(--l-section--content-padding) * 2));
      }

      @media (min-width: 1500px) {
        max-width: calc(var(--l-section--content-width-wide) - calc(var(--l-section--content-padding) * 2));
      }
    }

    &--outer-width-max {
      max-width: calc(100% - calc(var(--l-section--content-padding) * 2));
      @media (min-width: 1955px) {
        max-width: calc(var(--l-section--content-width-max) - calc(var(--l-section--content-padding) * 2));
      }
    }

    &--outer-width-full {
      max-width: var(--l-section--content-width-full);
    }

    &--content-width-narrow {
      .l-section__container > * {
        max-width: var(--l-section--content-width-narrow);
        max-width: calc(var(--l-section--content-width-narrow) - calc(var(--l-section--content-padding) * 2));
      }
    }

    &--content-width-default {
      .l-section__container > * {
        max-width: var(--l-section--content-width-default);
        max-width: calc(var(--l-section--content-width-default) - calc(var(--l-section--content-padding) * 2));
      }
    }

    &__pattern {
      position: relative;
      overflow: hidden;

      .l-section__container {
        z-index: 1;
        position: relative;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        pointer-events: none;
        @media (min-width: 40em) {
          transform: scale(1.5);
        }
      }

      &::after {
        z-index: 0;
      }

      &-graphics {
        &::before {
          left: -70%;
          bottom: 0%;
          transform: scale(0.95);
          @media (min-width: 30em) {
            left: -45%;
            top: 7%;
          }
          @media (min-width: 40em) {
            transform: scale(1);
            left: -15%;
            top: 7%;
          }
          @media (min-width: 60em) {
            top: 10%;
            left: -7%;
          }
          @media (min-width: 100em) {
            left: 2%;
            top: 5%;
          }
        }

        &::after {
          bottom: 5%;
          right: -45%;
          transform: scale(0.95);
          @media (min-width: 30em) {
            right: -20%;
            bottom: 0;
          }
          @media (min-width: 40em) {
            transform: scale(1);
            right: -15%;
            bottom: 0;
          }
          @media (min-width: 60em) {
            right: -5%;
            top: 0;
          }
          @media (min-width: 100em) {
            right: 2%;
            top: 5%;
          }
        }

        &--dark {
          &::before {
            content: url(/patterns/graphics--1.svg);
          }
          &::after {
            content: url(/patterns/graphics--2.svg);
          }
        }

        &--light {
          &::before {
            content: url(/patterns/graphics--1.svg);
          }
          &::after {
            content: url(/patterns/graphics--2.svg);
          }
        }
      }

      &-1 {
        &::before {
          left: -5em;
          top: 1em;
          @media (min-width: 40em) {
            top: 4em;
            left: -3em;
          }

          @media (min-width: 130em) {
            left: 15%;
          }
        }

        &::after {
          bottom: 10%;
          right: -1.5em;
          @media (min-width: 40em) {
            right: 20px;
          }

          @media (min-width: 130em) {
            right: 15%;
          }
        }

        &--dark {
          &::before {
            content: url(/patterns/pattern_1-dark--1.svg);
          }
          &::after {
            content: url(/patterns/pattern_1-dark--2.svg);
          }
        }

        &--light {
          &::before {
            content: url(/patterns/pattern_1-light--1.svg);
          }
          &::after {
            content: url(/patterns/pattern_1-light--2.svg);
          }
        }
      }

      &-2 {
        &::before {
          left: -5em;

          @media (min-width: 130em) {
            left: 15%;
          }
        }

        &::after {
          bottom: 10%;
          right: -6em;

          @media (min-width: 40em) {
            right: -2em;
          }

          @media (min-width: 130em) {
            right: 15%;
          }
        }

        &--dark {
          &::before {
            content: url(/patterns/pattern_2-dark--1.svg);
          }
          &::after {
            content: url(/patterns/pattern_2-dark--2.svg);
          }
        }

        &--light {
          &::before {
            content: url(/patterns/pattern_2-light--1.svg);
          }
          &::after {
            content: url(/patterns/pattern_2-light--2.svg);
          }
        }
      }
      //Headline
      &-3 {
        &::before {
          left: 0;
          transform: translateX(-75%) scale(1.15);

          @media (min-width: 60em) {
            transform: scale(1.25);
          }

          @media (min-width: 80em) {
            left: 10%;
            transform: scale(1.5);
          }

          @media (min-width: 130em) {
            left: 25%;
          }
        }

        &::after {
          top: 0rem;
          right: 0em;
          transform: scale(0.75) translateX(75%);

          @media (min-width: 60em) {
            transform: scale(0.85);
            top: 10%;
          }

          @media (min-width: 80em) {
            transform: scale(1);
            top: 15%;
            right: 10%;
          }

          @media (min-width: 130em) {
            right: 25%;
          }
        }

        &--light {
          &::before {
            content: url(/patterns/pattern_1-light--2.svg);
          }
          &::after {
            content: url(/patterns/pattern_3.svg);
          }
        }
      }
      //Blog Post
      &-4 {
        &::after {
          top: 0;
          right: 0;
          transform: scale(0.5) translate(60%, -50%);

          @media (min-width: 40em) {
            transform: scale(0.7);
            right: 0;
          }

          @media (min-width: 80em) {
            transform: scale(1);
            right: 20%;
          }

          @media (min-width: 130em) {
            right: 30%;
          }
        }

        &--dark {
          &::after {
            content: url(/patterns/pattern_3.svg);
          }
        }

        &--light {
          &::after {
            content: url(/patterns/pattern_3.svg);
          }
        }
      }
      //Contact
      &-contact {
        &::after {
          transform: scale(1);
          top: 0;
          right: -40%;
          height: 100%;
          width: 100%;
          opacity: 0.25;
          background-position: center;
          background-repeat: no-repeat;

          @media (min-width: 48em) {
            right: -30%;
            transform: scale(1.35);
          }

          @media (min-width: 80em) {
            right: -20%;
          }
        }

        &--dark {
          &::after {
            background-image: url(/img/contact-inverted.svg);
          }
        }

        &--light {
          &::after {
            background-image: url(/img/contact-inverted.svg);
          }
        }
      }
    }

    &.col-three {
      .l-section__container {
        --l-section_container--gutter: var(--ks-spacing-l);

        @include breakpoint.media(">s") {
          --l-section_col--min-width: 16rem;
        }

        @media (min-width: 712px) {
          --l-section_container--gutter: var(--ks-spacing-xs);
          --l-section_col--min-width: 9rem;
        }

        @include breakpoint.media(">m") {
          --l-section_container--gutter: var(--ks-spacing-m);
        }
      }
    }

    &.col-four {
      .l-section__container {
        @include breakpoint.media(">s") {
          --l-section_col--min-width: 18rem;
        }
      }
    }

    &.progress {
      .l-section__container {
        --l-section_container--gutter: var(--ks-spacing-xl);

        @media (min-width: 712px) {
          --l-section_col--min-width: 18rem;
          --l-section_col--max-width: 27.5rem;
        }

        @media (min-width: 900px) {
          --l-section_container--gutter: var(--ks-spacing-s);
          --l-section_col--min-width: 9rem;
          --l-section_col--max-width: 1fr;
        }

        @include breakpoint.media(">m") {
          --l-section_container--gutter: var(--ks-spacing-m);
        }

        @include breakpoint.media(">l") {
          --l-section_container--gutter: var(--ks-spacing-l);
        }
      }
    }
    &.five-steps {
      .l-section__container {
        --l-section_container--gutter: var(--ks-spacing-xl);
        --l-section_col--min-width: 18rem;
        --l-section_col--max-width: 27.5rem;

        @media (min-width: 900px) {
          --l-section_col--min-width: 18rem;
          --l-section_col--max-width: 27.5rem;
        }

        @include breakpoint.media(">m") {
          --l-section_container--gutter: var(--ks-spacing-m);
          --l-section_col--min-width: 9rem;
          --l-section_col--max-width: 1fr;
        }

        @include breakpoint.media(">l") {
          --l-section_container--gutter: var(--ks-spacing-l);
        }
      }
    }
  }
  .l-section.additional-spacing {
    margin-bottom: var(--l-section--space);
  }
  .l-section.additional-spacing-small {
    margin-bottom: var(--l-section--space-small);
  }
}

.kds-header--spacer + .l-container--section .l-section-style--head,
.kds-header--spacer + .l-container--section .l-section-style--body {
  margin-top: 0;
}
