.l-section {

    &__container--max {
        @media (min-width: 100em) {
        max-width: 1800px;
      }
    }

    &__pattern {
      background-position: center;
      background-size: cover;
      background-repeat: repeat-y;

      @media (min-width: 40em) {
        background-size: cover;
        background-repeat: no-repeat;
      }

      &-1 {
        background-image: url(/patterns/bg_1-d.svg);

        @media (min-width: 40em) {
          background-image: url(/patterns/bg_1-d.svg);
        }
      }

      &-2 {
        background-image: url(/patterns/bg_2.svg);
        @media (min-width: 40em) {
          background-image: url(/patterns/bg_2-d.svg);
        }
      }
    }

    &--deko {
      clip-path: polygon(0% 15%, 15% 0%, 100% 0, 100% 86%, 87% 100%, 4% 100%, 0 88%);
    }

    &--dark {  
      .c-teaser {
        .c-rich-text a {
          color: var(--g-link--color);
          &:hover {
            background: var(--g-link--backround-hover);
            color: var(--g-link--color-hover);
          }
        }
      }

      .c-rich-text li {
        color: var(--c-teaser--color);
      }

      .c-button--fill-animation:focus, .c-button--fill-animation:hover {
        * {
          color: var(--c-button_fill-animation--color-hover);
        }
      }

      .c-button, .c-button--solid, .c-button--solid-inverted, .c-button---outline, .c-button---outline-inverted {
        * {
          color: var(--c-button--color);
        }
      }

      .c-teaser p, .c-teaser .c-rich-text li, .c-teaser.mc-bulletlist li::before {
        color: var(--c-teaser--color);
      }
    
      h1, h2, h3, h4, .c-rich-text, .mc-bulletlist li::before {
        color: var(--section-dark-color);
      }
    }
  }
