@use "../breakpoint";
:root,
[ks-inverted],
[ks-theme] {
  --l-section--content-width-wide: 87.5rem !important;
  --l-section--content-width-slim: 30rem;

  @include breakpoint.media("≥s") {
    --l-section--content-padding: var(--ks-spacing-inset-l) !important;
  }

  .l-section__container {
    --l-section_container--gutter: var(--ks-spacing-l);

    @include breakpoint.media("≥s") {
      --l-section_col--min-width: 12rem;

      .l-section--outer-width-wide & {
        --l-section_col--min-width: 16rem;
        --l-section_col--max-width: 500px;
      }
    }

    @include breakpoint.media("≥m") {
      --l-section_container--gutter: var(--ks-spacing-m);

      .l-section--outer-width-wide & {
        --l-section_col--min-width: 9rem;
        --l-section_col--max-width: 1fr;
      }
    }

    &--gutter-large {
      @include breakpoint.media("≥m") {
        --l-section_container--gutter: var(--ks-spacing-l);
      }
      @include breakpoint.media("≥l") {
        --l-section_container--gutter: var(--ks-spacing-xl);
        --l-section_col--min-width: 17rem;
      }
    }
    &--gutter-none {
      --l-section_container--gutter: 0;
    }
  }
}
