.l-section {
  margin: auto;

  @media(min-width: 1235px) {
    &--outer-width-default {
      max-width: calc(var(--g-content-width-default) - calc(var(--g-content-padding) * 2));
    }
  }
  
  &--outer-width-narrow {
    max-width: calc(var(--g-content-width-narrow) - calc(var(--g-content-padding) * 2));
  }
  
  @media(min-width: 1500px) {
    &--outer-width-wide {
      max-width: calc(var(--g-content-width-wide) - calc(var(--g-content-padding) * 2));
    }
  }

  &--outer-width-max {
    max-width: calc(100% - calc(var(--g-content-padding) * 2));
  }

  &--outer-width-full {
    max-width: var(--g-content-width-full);
  }

  &__pattern {
    position: relative;
    overflow: hidden;  

    .l-section__container {
      z-index: 1;
      position: relative;
    }

    &::before, &::after {
      position: absolute;
      content: '';
      pointer-events: none;
      @media (min-width: 40em) {
        transform: scale(1.5);
      }
    }

    &::after {
      z-index: 0;
    }

    &-1 {
      &::before {
        left: -5em;
        top: 1em;
        @media (min-width: 40em) {
          top: 4em;
          left: -3em;
        }
      }

      &::after {
        bottom: 10%;
        right: -1.5em;
        @media (min-width: 40em) {
          right: 20px;
        }
      }

      &--dark {
        &::before {
          content: url(/patterns/pattern_1-dark--1.svg);
        }
        &::after {
          content: url(/patterns/pattern_1-dark--2.svg);
        }
      }

      &--light {
        &::before {
          content: url(/patterns/pattern_1-light--1.svg);
        }
        &::after {
          content: url(/patterns/pattern_1-light--2.svg);
        }
      }
    }

    &-2 {

      &::before {
        left: -5em;
      } 

      &::after {
        bottom: 10%;
        right: -6em;
        
        @media (min-width: 40em) {
          right: -2em;
        }
      }

      &--dark {
        &::before {
          content: url(/patterns/pattern_2-dark--1.svg);
        }
        &::after {
          content: url(/patterns/pattern_2-dark--2.svg);
        }
      }

      &--light {
        &::before {
          content: url(/patterns/pattern_2-light--1.svg);
        }
        &::after {
          content: url(/patterns/pattern_2-light--2.svg);
        }
      }
    }
  }

  &--deko {
    clip-path: polygon(
      /* Corner Top Left */
      0% var(--spacing-l),
      var(--spacing-xl) 0%,
      
      /* Corner Top Right */
      100% 0,
      
      /* Corner Bottom Right */
      100% calc(100% - var(--spacing-xxl)),
      calc(100% - var(--spacing-xxl)) 100%,
      
      /* Corner Bottom Left */
      var(--spacing-m) 100%,
      0 calc(100% - var(--spacing-m))
    );
  }

  &--dark {  
    .c-teaser {
      .c-rich-text a {
        color: var(--g-link--color);
        &:hover {
          background: var(--g-link--backround-hover);
          color: var(--g-link--color-hover);
        }
      }
    }

    .c-button--fill-animation:focus, .c-button--fill-animation:hover {
      * {
        color: var(--c-button_fill-animation--color-hover);
      }
    }

    .c-button, .c-button--solid, .c-button--solid-inverted, .c-button---outline, .c-button---outline-inverted {
      * {
        color: var(--c-button--color);
      }
    }
   }
  }
