@use "../breakpoint";
@use "./post-aside-tokens";

:root {
  .c-post-aside {
    --tag-label-height: calc(
      var(--ks-font-size-interface-xs) * var(--ks-line-height-interface-xs) + calc(var(--ks-spacing-inset-xs) * 2)
    );

    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: calc(var(--ks-font-size-copy-m) * 10);
    height: fit-content;

    @include breakpoint.media("≥m") {
      position: sticky;
      top: 0;
      padding-top: calc(var(--tag-label-height) + var(--ks-spacing-s));
    }

    &__author .c-contact__links,
    .c-post-share-bar,
    .c-divider {
      @include breakpoint.media("<m") {
        display: none;
      }
    }

    .c-headline {
      p {
        font: var(--ks-font-copy-s);
        font-weight: var(--c-headline--font-weight);
      }

      &__headline {
        font: var(--ks-font-copy-m);
        font-weight: var(--c-headline--font-weight);
      }
    }

    &__author {
      > .c-headline {
        display: none;
      }

      .c-contact {
        --icon-size: 1rem;

        margin: 0;
        gap: var(--ks-spacing-stack-xs) var(--ks-spacing-inline-xs);

        > * {
          margin: 0;
        }

        &__body {
          display: flex;
          overflow: hidden;
          flex-direction: column;
          gap: var(--ks-spacing-xs);
          flex-grow: 1;

          > * {
            margin: 0;
          }

          .c-headline {
            display: block;
            padding-bottom: 0;

            &__headline {
              font: var(--ks-font-copy-s);
              font-weight: var(--c-headline--font-weight);
            }

            @include breakpoint.media("≥m") {
              font: var(--ks-font-copy-xs);
              font-weight: var(--c-headline--font-weight);
              color: var(--c-rich-text--color);
            }
          }
        }

        &__image {
          max-width: 3rem;

          @include breakpoint.media("≥m") {
            max-width: 4rem;
          }
        }

        &__links {
          font: var(--ks-font-interface-xs);

          .icon {
            flex-shrink: 0;
          }

          li {
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &__link {
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .c-rich-text {
          font: var(--ks-font-copy-xs);
        }
      }

      .c-post-share-bar {
        --c-post-share-bar_link--icon-size: 1.35em;
      }
    }
  }
}
