@use "../breakpoint";
@use "./post-aside-tokens";

.c-post-aside {
  --tag-label-height: calc(var(--line-height-xs) + calc(var(--ks-spacing-xs) * 2) + var(--ks-spacing-s));

  height: fit-content;

  @include breakpoint.media("<m") {
    &__author .c-contact__links,
    .c-post-share-bar,
    .c-headline,
    .c-divider {
      display: none;
    }
  }

  @include breakpoint.media("≥m") {
    position: sticky;
    top: 0;
    padding-top: calc(var(--tag-label-height) + var(--ks-spacing-s));
    margin-top: calc(-1 * var(--c-post-aside--gap));

    .c-headline__headline {
      font: var(--ks-font-copy-m);
      font-weight: var(--c-headline--font-weight);
    }
  }

  &__author {
    > .c-headline {
      display: none;
    }

    .c-contact {
      --icon-size: 1rem;

      margin: 0;
      gap: var(--ks-spacing-s);

      > * {
        margin: 0;
      }

      &__body {
        display: flex;
        flex-direction: column;
        gap: var(--ks-spacing-xs);

        > * {
          margin: 0;
        }

        .c-headline {
          display: block;

          &__headline {
            color: var(--c-rich-text--color);
            font: var(--ks-font-copy-s);
            font-weight: var(--c-headline--font-weight);
          }

          @include breakpoint.media("≥m") {
            font: var(--ks-font-copy-xs);
            font-weight: var(--c-headline--font-weight);
            color: var(--c-rich-text--color);
          }
        }
      }

      &__image {
        max-width: 3rem;

        @include breakpoint.media("≥m") {
          max-width: 4rem;
        }
      }

      &__links {
        font: var(--ks-font-ui-xs);
      }

      &__link {
        margin: 0;
      }
    }

    .c-rich-text {
      font: var(--ks-font-copy-xs);
    }
  }

  .c-post-share-bar {
    --c-post-share-bar_link--icon-size: 1.35em;
  }
}
