@use "./appearance-tokens";
@use "../breakpoint";

:root,
[ks-theme],
[ks-inverted] {
  --c-appearance--img-size: 8rem;

  @include breakpoint.media(">s") {
    --c-appearance--img-size: 15rem;
  }
}

.kds-appearance {
  &-meta {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-stack-s);

    &__content {
      display: flex;
      gap: var(--ks-spacing-m);
    }

    &__col {
      flex: 1 1;
      display: flex;
      flex-direction: column;
      gap: var(--ks-spacing-stack-m);
    }
  }

  &--text-media {
    figure {
      img {
        width: var(--c-appearance--img-size);
        height: var(--c-appearance--img-size);
      }
    }
  }
}
