@use './page-nav-tokens';
@use '@kickstartds/core/source/core/breakpoint';

.kds-page-nav {
  border: 2px solid #eceff3;

  ul {
    padding: var(--spacing-m) var(--spacing-s);
    margin: 0;
    li {
      list-style: none;
      font: var(--font-ui-s);
      padding: var(--spacing-xxs) 0;
      a {
        text-decoration: none;
        color: var(--c-rich-text--color);

        &:hover {
          color: var(--color-black);
          background: 0;
        }
      }
    }
  }
}