:root,
[ks-theme],
[ks-inverted] {
  .c-content-box {
    --c-content-box_topic--font-xs: var(--ks-font-copy-xs);
    --c-content-box_topic--font-s: var(--ks-font-copy-s);
    --c-content-box_topic--font-m: var(--ks-font-copy-m);
    --c-content-box_topic--margin: 0 0 var(--ks-spacing-stack-xs);
    --c-content-box--gap: var(--ks-spacing-stack-xs);

    @container content-box (min-width: 350px) {
      --c-content-box--gap: var(--ks-spacing-stack-s);
    }
  }
}
