.c-content-box__text {
  --c-content-box_rich-text--font-xs: var(--font-copy-xs);
  --c-content-box_rich-text--font-s: var(--font-copy-s);
  --c-content-box_rich-text--font-m: var(--font-copy-m);
  --c-content-box_topic--font-xs: var(--font-copy-xs);
  --c-content-box_topic--font-s: var(--font-copy-s);
  --c-content-box_topic--font-m: var(--font-copy-m);
  --c-content-box_topic--margin: 0 0 var(--spacing-xs) 0;
}

.l-section--dark {
  --c-content-box_topic--color: var(--l-section-dark-color);
}

.l-section--dark .c-content-box {
  --c-content-box_topic--color: var(--l-section-dark-color);
}
