:root,
[ks-theme],
[ks-inverted] {
  .c-content-box {
    --c-content-box_topic--font-xs: var(--ks-font-display-xs);
    --c-content-box_topic--font-s: var(--ks-font-display-s);
    --c-content-box_topic--font-m: var(--ks-font-display-m);
    --c-content-box_topic--margin: 0 0 var(--ks-spacing-stack-xs);
  }
}
