@use "../breakpoint";
@use "./content-box-tokens";

.c-content-box {
  color: var(--g-topic--color);
  margin-bottom: 0;

  &__image {
    margin-bottom: var(--ks-spacing-s);
  }

  &.related-post {
    padding: var(--ks-spacing-m);
    background: var(--ks-background-color-default);

    clip-path: polygon(calc(100% - var(--ks-spacing-l)) 0%, 100% var(--ks-spacing-l), 100% 100%, 0 100%, 0 0);

    .c-content-box {
      &__image {
        width: 35%;
        height: auto;
        padding-bottom: 0;

        img {
          position: relative;
          aspect-ratio: 1 / 1;
        }
      }

      &__text {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: var(--line-height-m);
          background: linear-gradient(0deg, var(--ks-background-color-default) 20%, rgba(255, 255, 255, 0));
          bottom: 0;
          pointer-events: none;
        }
      }

      &__topic {
        font: var(--ks-font-ui-l);
        font-weight: var(--ks-font-weight-bold);
      }
    }
  }
}
