:root,
[ks-theme],
[ks-inverted] {
  --c-count-up_icon--size: 200px;

  --c-count-up_text--font: var(--ks-font-copy-s);

  .c-count-up {
    --c-count-up_number--font: var(--ks-font-display-xxl);
    --c-count-up_number--font-weight: var(--ks-font-weight-light);
    --c-count-up_topic--color: var(--ks-text-color-primary);
  }
}
