.kds-count-up {
  position: relative;
  font-size: var(--font-size-xl);

  &__progress {
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(90deg);
    width: 200px;
    height: auto;
    z-index: 100;
    box-sizing: border-box;
  }

  &__rect {
    transition: stroke-dashoffset ease-in-out;
    stroke: var(--color-secondary);
    stroke-linecap: square;
    // transform: rotate(90deg);
  }

  &__fill {
    z-index: 50;
    position: relative;
    background: var(--color-primary);
    height: 200px;
    width: 200px;
    outline: 0;
    overflow: hidden; /* Set to none to see fill square outside box */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    .bubbles{
      position:absolute;
      width:100%;
      height: 100%;
      z-index:0;
      overflow:hidden;
      top:0;
      left:0;
    }
    .bubble{
      position: absolute;
      bottom:-100px;
      width:20px;
      height: 20px;
      background: var(--color-primary);
      border-radius:50%;
      opacity:0.5;
      animation: rise 10s infinite ease-in;
    }
    .bubble:nth-child(1){
      width:20px;
      height:20px;
      left:10%;
      animation-duration:8s;
    }
    .bubble:nth-child(2){
      width:10px;
      height:10px;
      left:20%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .bubble:nth-child(3){
      width:25px;
      height:25px;
      left:35%;
      animation-duration:7s;
      animation-delay:2s;
    }
    .bubble:nth-child(4){
      width:40px;
      height:40px;
      left:50%;
      animation-duration:11s;
      animation-delay:0s;
    }
    .bubble:nth-child(5){
      width:17px;
      height:17px;
      left:55%;
      animation-duration:6s;
      animation-delay:1s;
    }
    .bubble:nth-child(6){
      width:22px;
      height:22px;
      left:65%;
      animation-duration:8s;
      animation-delay:3s;
    }
    .bubble:nth-child(7){
      width:45px;
      height:45px;
      left:70%;
      animation-duration:12s;
      animation-delay:2s;
    }
    .bubble:nth-child(8){
      width:12px;
      height:12px;
      left:80%;
      animation-duration:6s;
      animation-delay:2s;
    }
    .bubble:nth-child(9){
      width:7px;
      height:7px;
      left:70%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .bubble:nth-child(10){
      width:45px;
      height:45px;
      left:25%;
      animation-duration:10s;
      animation-delay:4s;
    }
    .bubble:nth-child(11){
      width:15px;
      height:15px;
      left:0%;
      animation-duration:8s;
    }
    .bubble:nth-child(12){
      width:10px;
      height:10px;
      left:60%;
      animation-duration:6s;
      animation-delay:2s;
    }
    .bubble:nth-child(13){
      width:12px;
      height:12px;
      left:15%;
      animation-duration:10s;
      animation-delay:1s;
    }
    .bubble:nth-child(14){
      width:15px;
      height:15px;
      left:25%;
      animation-duration:9s;
      animation-delay:2s;
    }
    .bubble:nth-child(15){
      width:10px;
      height:10px;
      left:15%;
      animation-duration:9s;
      animation-delay:2s;
    }
    .bubble:nth-child(16){
      width:27px;
      height:27px;
      left:55%;
      animation-duration:7s;
      animation-delay:4s;
    }
    .bubble:nth-child(17){
      width:45px;
      height:45px;
      left:5%;
      animation-duration:10s;
      animation-delay:4s;
    }
    .bubble:nth-child(18){
      width:12px;
      height:12px;
      left:50%;
      animation-duration:9s;
      animation-delay:4s;
    }
    .bubble:nth-child(19){
      width:20px;
      height:20px;
      left:35%;
      animation-duration:6s;
      animation-delay:2s;
    }
    .bubble:nth-child(20){
      width:20px;
      height:20px;
      left:15%;
      animation-duration:12s;
      animation-delay:2s;
    }
    @keyframes rise{
      0%{
        bottom:-100px;
        transform:translateX(0);
      }
      50%{
        transform:translate(100px);
      }
      100%{
        bottom:1080px;
        transform:translateX(-200px);
      }
    }

    &.active {
      background: var(--color-secondary);

      &::before {
        content: '';
        height: 100%;
        width: 100%;
        background-size: 175px 175px;
        background-image: url(/img/icons/Mustache.svg);
        background-repeat: no-repeat;
        background-position: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      &::after {
        content: "";
        position: absolute;
        bottom: -50%; /* Center square */
        left: -50%; /* Center square */
        height: 200%;
        width: 200%;
        background-color: var(--color-primary);
        border-radius: 35%; /* Smooth edges to appear like liquid */
        animation: spin 4s ease-out forwards; /* Set to forwards to freeze on last frame */
      }
    }
  }
}

.c-count-up {
  &__number {
    width: 200px;
    height: auto;
    color: var(--color-white);
    --c-count-up_number--font: var(--font-copy-xxl);
    --c-count-up_number--font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6em 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__topic {
    color: var(--color-secondary);
  } 

  &__text {
    color: var(--color-white);
  }
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(400deg);
  }
}