@use "./count-up-tokens";
@use '@kickstartds/core/source/core/breakpoint';

.kds-count-up {
  position: relative;
  font-size: var(--font-size-xl);

  &__progress {
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(90deg);
    width: var(--c-count-up_icon--size);
    height: auto;
    box-sizing: border-box;
  }

  &__fill {
    position: relative;
    background: var(--l-section--background, white);
    height: var(--c-count-up_icon--size);
    width: var(--c-count-up_icon--size);
    outline: 0;
    overflow: hidden; // Set to none to see fill square outside box
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    .kds-count-up--tokens & {
      clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 99%, 0 13%);
    }
    .kds-count-up--components & {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%, 0 93%);
    }
    .kds-count-up--properties & {
      clip-path: polygon(0 0, 80% 0, 100% 13%, 100% 100%, 14% 100%, 0 93%);
    }

    .bubbles {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      visibility: hidden;
    }

    &.active {
      .bubbles {
        visibility: visible;
      }
    }

    .bubble {
      position: absolute;
      bottom: -100px;
      width: 20px;
      height: 20px;
      background: var(--color-primary-alpha-4);
      border-radius: 50%;
      opacity: 0.75;
      animation: rise 10s infinite ease-in;
    }

    @keyframes rise {
      0% {
        bottom: -100px;
        transform: translateX(0);
      }
      50% {
        transform: translate(100px);
      }
      100% {
        bottom: 1080px;
        transform: translateX(calc(var(--c-count-up_icon--size) * -1));
      }
    }

    &.active {
      background: var(--color-secondary);

      &::before {
        content: "";
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        display: block;
        background-size: 175px 175px;
        background-position: 10px 10px;
        position: relative;
        z-index: 1;

        .kds-count-up--properties & {
          background-image: url(/img/icons/count_properties.svg);
        }

        .kds-count-up--tokens & {
          background-image: url(/img/icons/count_tokens.svg);
        }

        .kds-count-up--components & {
          background-image: url(/img/icons/count_components.svg);
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -50%; // Center square
        left: -50%; // Center square
        height: 200%;
        width: 200%;
        background-color: var(--l-section--background, white);
        border-radius: 35%; // Smooth edges to appear like liquid
        animation: spin 3s ease-out forwards; // Set to forwards to freeze on last frame
        z-index: 1;
      }
    }
  }
  
  @include breakpoint.media("≥m") {
    &:nth-child(1) {
      .kds-count-up__fill.active {
        &::after {
          animation-delay: 0s;
        }
      }
    }
    &:nth-child(2) {
      .kds-count-up__fill.active {
        &::after {
          animation-delay: 300ms;
        }
      }
    }
    &:nth-child(3) {
      .kds-count-up__fill.active {
        &::after {
          animation-delay: 600ms;
        }
      }
    }
  }
}

.c-count-up {
  &__number {
    padding: 0.6em 0 0;
  }

  &__text {
    --c-rich-text--font: var(--c-count-up_text--font);
  }
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(400deg);
  }
}
