@use "./headline-tokens";

.c-headline {
  max-width: calc(100vh - calc(var(--g-content-padding) * 2));
  @media (min-width: 80em) {
    max-width: 90%;
  }

  h1 + .c-headline__subheadline,
  .c-headline__h1 + .c-headline__subheadline {
    --c-headline_subheadline--font: var(--font-display-l);
  }

  h1.c-headline__h2 + .c-headline__subheadline {
    --c-headline_subheadline--font: var(--font-display-m);
  }
}
