:root,
[ks-theme],
[ks-inverted] {
  --c-rich-text_headline--color: #050505;

  [ks-inverted="true"] {
    --c-rich-text_headline--color: white;
  }

  .c-headline__subheadline {
    --c-headline_subheadline--color: var(--ks-color-primary);
    --c-headline_subheadline--font-weight: var(--ks-font-weight-semi-bold);
  }

  [ks-inverted="true"] {
    --c-rich-text_headline--color: var(--ks-text-color-primary);

    .c-headline__subheadline {
      --c-headline_subheadline--color: var(--ks-color-primary-inverted-to-bg-7);
    }
  }

  .c-headline--space-after-none {
    padding-bottom: 0;
  }

  .c-headline--space-after-small {
    padding-bottom: var(--ks-spacing-stack-m);
  }

  .c-headline--space-after-large {
    padding-bottom: var(--ks-spacing-stack-l);
  }
}
