.c-headline {
  --section-dark-color: var(--color-white);
}

.c-headline__subheadline {
  --c-headline_subheadline--color: var(--color-primary);
  --c-headline_subheadline--font-weight: var(--font-weight-semi-bold);
}

.l-section--dark p.c-headline__subheadline {
  --c-headline_subheadline--color: var(--color-primary-lighter-5);
}

.l-section--dark .c-headline {
  --c-headline--color: var(--color-secondary);
}
