@use './template-tokens';
@use '../breakpoint';

.template {
  position: relative;
  margin: auto;
  gap: var(--ks-spacing-l);
  padding: 0 var(--l-section--content-padding);

  @include breakpoint.media(">m") {
    display: flex;
  }

  .l-section {
    margin: unset;
    &__container {
      padding: 0;
    }
  }

  &--wide {
    max-width: var(--l-section--content-width-wide);
  }

  &__main {
    @include breakpoint.media(">m") {
      width: 70%;
    }
  }

  &__side {
    @include breakpoint.media(">m") {
      width: 30%;
    }
  }
}
