@use "./template-tokens";
@use "../breakpoint";

.template {
  position: relative;
  margin: auto;
  gap: var(--ks-spacing-l);
  display: flex;
  flex-direction: column;

  &--concierge.template {
    gap: var(--ks-spacing-m);

    @media (min-width: 40rem) {
      flex-direction: row;
    }

    .template__main,
    .template__side {
      @media (min-width: 40rem) {
        height: fit-content;
        position: sticky;
        top: var(--ks-spacing-m);
      }
    }

    .template__main {
      @media (min-width: 40rem) {
        width: 70%;
      }
    }

    .template__side {
      @media (min-width: 40rem) {
        width: 30%;
      }
    }
  }
}
