:root,
[ks-inverted],
[ks-theme] {
  background-color: var(--l-section--background);
}

[ks-theme="dark"] {
  --ks-background-color-default: #012a34;
  --g-link--color: var(--ks-color-fg);

  button.nav-toggle .nav-toggle__icon {
    color: var(--ks-color-fg);
  }

  .l-section--accent {
    --l-section--background: #083d4a;
  }
}
