:root,
[ks-inverted],
[ks-theme] {
  background-color: var(--l-section--background);
  
  [ks-theme="dark"] {
    --ks-background-color-default: #012a34;

    a:not(.c-button) {
      color: var(--ks-color-fg);
    }

    .l-section--accent {
      --l-section--background: #083d4a;
    }
  }
}
