@use './visual-tokens';

.c-visual {
  &__link {
    filter: drop-shadow(5px 5px 0px rgba(236,255,0));
  }
}

.c-visual__box.c-visual__box--transparent {
  overflow: unset;
}

.c-visual--full {
  height: calc(100vh - var(--g-header-height) - 30vh);
}

.c-visual__image img {
  object-fit: contain;
}