:root,
[ks-theme],
[ks-inverted] {
  .c-visual {
    --c-visual--min-height: 35vh;
    --c-visual_overlay--background: linear-gradient(90deg, var(--ks-background-color-default), transparent);
    --c-visual_overlay--background-size: cover;

    &__box {
      --c-visual_box--color: var(--c-rich-text--color);
      --c-visual_box--background: var(--ks-color-fg-inverted);
    }

    [ks-inverted="true"] {
      .c-visual__box {
        --c-visual_box--background: var(--ks-background-color-primary-inverted-translucent);
      }
    }

    @media (min-width: 40em) {
      --c-visual--min-height: 60vh;

      @media (orientation: portrait) {
        --c-visual--min-height: 35rem;
      }
    }

    @media (min-height: 70em) {
      --c-visual--min-height: 35rem;
    }

    @media (max-width: 39.99em) {
      &--full {
        height: unset;
      }
    }
  }

  @container visual (min-width: 640px) {
    .c-visual {
      &__box {
        --c-visual_box--max-width: 90%;
      }
    }
  }

  @container visual (min-width: 1200px) {
    .c-visual {
      &__box {
        --c-visual_box--max-width: 70%;
      }
    }
  }
}
