@use './visual-tokens';
@use '@kickstartds/core/source/core/breakpoint';

.c-visual .c-headline__subheadline {
  --c-headline_subheadline--color: var(--color-primary);
}

.c-visual__box.c-visual__box--transparent {
  overflow: unset;
}

.main-header-spacer {
  + .c-visual--full, + .l-section .c-visual--full {
    @include breakpoint.media("≥s") {
      height: calc(100vh - var(--g-header-height));
    }
  }
}

.c-visual__image img {
  object-fit: contain;
}