.c-visual {
  --c-visual--min-height: 35vh;

  @media (min-width: 40em) {
    --c-visual--min-height: 60vh;

    @media (orientation: portrait) {
      --c-visual--min-height: 35rem;
    }
  }

  @media (min-height: 70em) {
    --c-visual--min-height: 35rem;
  }

  @media (max-width: 39.99em) {
    &--full {
      height: unset;
    }
  }

  &__box {
    @media (min-width: 40em) {
      --c-visual_box--max-width: 90%;
    }
    @media (min-width: 80em) {
      --c-visual_box--max-width: 45rem;
    }

    &--transparent {
      --c-visual_box--background: transparent;
      --c-visual_headline--color: var(--color-black);
      --c-visual_box--color: var(--c-rich-text--color);
    }
  }
}
