@use "../breakpoint.scss";

.c-announcement-bar {
  display: flex;
  margin: auto;
  align-items: center;
  gap: var(--ks-spacing-xs);
  padding: 0.55em 0;
  font: var(--ks-font-interface-xs);

  &--section {
    border-bottom: 4px solid var(--ks-color-primary);
  }

  &__content {
    display: inline;
    text-align: left;
  }

  &__text {
    color: var(--ks-text-color-default);
    text-align: left;
  }

  &__icon {
    max-width: calc(var(--ks-font-size-interface-xs) * var(--ks-line-height-interface-xs));
    max-height: calc(var(--ks-font-size-interface-xs) * var(--ks-line-height-interface-xs));
    width: 100%;
    height: 100%;
    vertical-align: middle;
    margin-right: var(--ks-spacing-xxs);
  }

  &__link {
    width: fit-content;
    display: flex;
    flex-shrink: 0;

    .c-button {
      span {
        display: flex;
      }
    }

    span {
      z-index: 1 !important;
    }
  }
}
