.c-announcement-bar {
  display: flex;
  margin: auto;
  gap: var(--ks-spacing-xxs);
  padding: var(--ks-spacing-xs) 0;

  &--section {
    padding: var(--ks-spacing-xs) 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--ks-spacing-xxs);
  }

  &__text {
    color: var(--ks-text-color-default);
    font: var(--ks-font-ui-xs);
    text-align: left;
  }

  &__icon {
    max-width: calc(var(--ks-font-size-ui-xs) * var(--ks-line-height-ui-xs));
    max-height: calc(var(--ks-font-size-ui-xs) * var(--ks-line-height-ui-xs));
    width: 100%;
    height: 100%;
  }

  &__link {
    width: fit-content;
    display: flex;

    .c-button {
      padding: 0;
      line-height: var(--ks-line-height-ui-xs);

      &:hover {
        padding: 0;
        &:before {
          background-color: transparent;
        }
      }

      span {
        display: flex;
      }
    }

    span {
      z-index: 1 !important;
    }
  }
}
