@use "../breakpoint";

:root,
[ks-theme],
[ks-inverted] {
  --g-logo-height: 2.5rem;
  --kds-header-spacing: var(--ks-spacing-inset-s);

  @include breakpoint.media("≥s") {
    --g-logo-height: 2.5rem;
  }

  @media (min-width: 80em) {
    --g-logo-height: 3rem;
  }

  @media (min-width: 100em) {
    --g-logo-height: 3.5rem;
  }
}
