@use "../breakpoint";

:root,
[ks-theme],
[ks-inverted] {
  --g-logo-height: 2.25rem;
  --kds-header-spacing: var(--ks-spacing-inset-s);

  @include breakpoint.media("≥m") {
    --g-logo-height: 2.5rem;
  }

  @include breakpoint.media("≥xl") {
    --g-logo-height: 2.75rem;
  }

  @media (min-width: 100em) {
    --g-logo-height: 3.25rem;
  }
}
