@use "@kickstartds/core/source/core/breakpoint";

:root {
  --g-logo-height: 2rem;
  --kds-header-spacing: var(--spacing-s);

  @include breakpoint.media("≥s") {
    --g-logo-height: 3rem;
  }

  @media (min-width: 90em) {
    --g-logo-height: 3rem;
  }
}
