:root {
  font-size: 20px;
  --color-primary-r: 6;
  --color-primary-g: 86;
  --color-primary-b: 106;
  --color-primary: #06566a;
  --color-primary-alpha-1: rgba(6, 86, 106, 0.1);
  --color-primary-alpha-2: rgba(6, 86, 106, 0.2);
  --color-primary-alpha-3: rgba(6, 86, 106, 0.3);
  --color-primary-alpha-4: rgba(6, 86, 106, 0.4);
  --color-primary-alpha-5: rgba(6, 86, 106, 0.5);
  --color-primary-alpha-6: rgba(6, 86, 106, 0.6);
  --color-primary-alpha-7: rgba(6, 86, 106, 0.7);
  --color-primary-alpha-8: rgba(6, 86, 106, 0.8);
  --color-primary-alpha-9: rgba(6, 86, 106, 0.9);
  --color-primary-lighter-1: #06708A;
  --color-primary-lighter-2: #116C81;
  --color-primary-lighter-3: #2C7C8F;
  --color-primary-lighter-4: #74b2c1;
  --color-primary-lighter-5: #a3d4e0;
  --color-primary-lighter-6: #eceff3;
  --color-primary-darker-1: #012F3A;
  --color-primary-darker-2: #03303B;
  --color-secondary: #ecff00;
  --color-secondary-alpha-1: rgba(236, 255, 0, 0.1);
  --color-secondary-alpha-2: rgba(236, 255, 0, 0.2);
  --color-secondary-alpha-3: rgba(236, 255, 0, 0.3);
  --color-secondary-alpha-4: rgba(236, 255, 0, 0.4);
  --color-secondary-alpha-5: rgba(236, 255, 0, 0.5);
  --color-secondary-alpha-6: rgba(236, 255, 0, 0.6);
  --color-secondary-alpha-7: rgba(236, 255, 0, 0.7);
  --color-secondary-alpha-8: rgba(236, 255, 0, 0.8);
  --color-secondary-alpha-9: rgba(236, 255, 0, 0.9);
  --color-secondary-lighter-1: #fbffc3;
  --color-secondary-lighter-2: #fdffe6;
  --color-secondary-darker-1: #e0f000;
  --color-secondary-darker-2: #cddb00;
  --color-white-r: 255;
  --color-white-g: 255;
  --color-white-b: 255;
  --color-white: #fff;
  --color-white-alpha-1: hsla(0, 0%, 100%, 0.1);
  --color-white-alpha-2: hsla(0, 0%, 100%, 0.2);
  --color-white-alpha-3: hsla(0, 0%, 100%, 0.3);
  --color-white-alpha-4: hsla(0, 0%, 100%, 0.4);
  --color-white-alpha-5: hsla(0, 0%, 100%, 0.5);
  --color-white-alpha-6: hsla(0, 0%, 100%, 0.6);
  --color-white-alpha-7: hsla(0, 0%, 100%, 0.7);
  --color-white-alpha-8: hsla(0, 0%, 100%, 0.8);
  --color-white-alpha-9: hsla(0, 0%, 100%, 0.95);
  --color-black-r: 5;
  --color-black-g: 5;
  --color-black-b: 5;
  --color-black: #050505;
  --color-black-alpha-1: rgba(5, 5, 5, 0.1);
  --color-black-alpha-2: rgba(5, 5, 5, 0.2);
  --color-black-alpha-3: rgba(5, 5, 5, 0.3);
  --color-black-alpha-4: rgba(5, 5, 5, 0.4);
  --color-black-alpha-5: rgba(5, 5, 5, 0.5);
  --color-black-alpha-6: rgba(5, 5, 5, 0.6);
  --color-black-alpha-7: rgba(5, 5, 5, 0.7);
  --color-black-alpha-8: rgba(5, 5, 5, 0.8);
  --color-black-alpha-9: rgba(5, 5, 5, 0.9);
  --color-grey-1: #e6e6e6;
  --color-grey-2: #cdcdcd;
  --color-grey-3: #b4b4b4;
  --color-grey-4: #9b9b9b;
  --color-grey-5: #828282;
  --color-grey-6: #696969;
  --color-grey-7: #444f52;
  --color-grey-8: #373737;
  --color-grey-9: #1e1e1e;
  --color-info: #007eb4;
  --color-success: #008300;
  --color-warning: #b85b00;
  --color-error: #cc0000;
  --spacing-xxs: 0.118rem;
  --spacing-xs: 0.25rem;
  --spacing-s: 0.65rem;
  --spacing-m: 0.85rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.9rem;
  --spacing-xxl: 2.1179rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;
  --font-family-display: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  --font-family-copy: var(--font-family-display);
  --font-family-ui: var(--font-family-display);
  --line-height-factor-display: 1;
  --line-height-factor-copy: 1;
  --line-height-factor-ui: 1;
  --font-size-xs: 0.6rem;
  /* Copy XS */
  --font-size-s: 0.8rem;
  /* Copy S */
  --font-size-m: 0.9rem;
  /* Copy, Subheadline */
  --font-size-l: 1.125rem;
  /* h3 */
  --font-size-xl: 1.35rem;
  /* h2 */
  --font-size-xxl: 1.75rem;
  /* h1 */
  --line-height-xs: 1rem;
  --line-height-s: 1.3rem;
  --line-height-m: 1.4rem;
  --line-height-l: 1.5rem;
  --line-height-xl: 1.75rem;
  --line-height-xxl: 2.15rem;
  --font-display-xs: var(--font-size-xs) /
    calc(var(--line-height-xs) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-s: var(--font-size-s) /
    calc(var(--line-height-s) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-l: var(--font-size-l) /
    calc(var(--line-height-l) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-m: var(--font-size-m) /
    calc(var(--line-height-m) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-xl: var(--font-size-xl) /
    calc(var(--line-height-xl) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-xxl: var(--font-size-xxl) /
    calc(var(--line-height-xxl) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-copy-xs: var(--font-size-xs) /
    calc(var(--line-height-xs) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-s: var(--font-size-s) /
    calc(var(--line-height-s) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-l: var(--font-size-l) /
    calc(var(--line-height-l) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-m: var(--font-size-m) /
    calc(var(--line-height-m) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-xl: var(--font-size-xl) /
    calc(var(--line-height-xl) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-xxl: var(--font-size-xxl) /
    calc(var(--line-height-xxl) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-ui-xs: var(--font-size-xs) /
    calc(var(--line-height-xs) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-s: var(--font-size-s) /
    calc(var(--line-height-s) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-l: var(--font-size-l) /
    calc(var(--line-height-l) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-m: var(--font-size-m) /
    calc(var(--line-height-m) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-xl: var(--font-size-xl) /
    calc(var(--line-height-xl) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-xxl: var(--font-size-xxl) /
    calc(var(--line-height-xxl) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --g-link--color: var(--color-primary);
  --g-link--color-hover: var(--color-primary);
  --g-link--backround-hover: var(--color-primary-alpha-1);
  --g-topic--color: var(--color-black);
  --g-header-height: 0px;
  --g-headline--color: var(--color-black);
  --g-headline--color: var(--color-black);
  --g-headline--font: var(--font-display-xxl);
  --g-headline--font-weight: var(--font-weight-bold);
  --g-content-width-default: 62rem;
  --g-content-width-narrow: 46.5rem;
  --g-content-width-wide: 70rem;
  --g-content-width-max: 96rem;
  --g-content-padding: var(--spacing-m);
  --l-section-dark-color: var(--color-white-alpha-9);
}

@media (min-width: 40em) {
  :root {
    --g-content-padding: var(--spacing-l);
    --spacing-xxs: 0.3rem;
    --spacing-xs: 0.4rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 3.5rem;
    --spacing-xxl: 4.25rem;
    --font-size-xs: 0.7rem;
    --font-size-s: 0.9375rem;
    --font-size-m: 1.125rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 1.75rem;
    --font-size-xxl: 2.25rem;
    --line-height-s: 1.45rem;
    --line-height-m: 1.75rem;
    --line-height-l: 2rem;
    --line-height-xl: 2.5rem;
    --line-height-xxl: 3rem;
  }
}
@media (min-width: 60em) {
  :root {
    --spacing-m: 1.2rem;
    --spacing-l: 2.2rem;
    --spacing-xl: 4rem;
    --spacing-xxl: 5rem;
    --font-size-s: 0.9375rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.65rem;
    --line-height-xl: 2.75rem;
    --line-height-xxl: 3.5rem;
  }
}
@media (min-width: 90em) {
  :root {
    --spacing-s: 0.7rem;
    --spacing-m: 1.5rem;
    --spacing-l: 2.5rem;
    --spacing-xl: 4.5rem;
    --spacing-xxl: 7rem;
    --font-size-xxl: 2.875rem;
  }
}
.no-stretch {
  /* display: block; */
  width: fit-content;
  text-align: center;
  margin: auto;
}

.c-post-head__meta {
  position: relative !important;
  top: unset !important;
  margin-bottom: var(--spacing-xs);
}

.c-button {
  --c-button--border-radius: 0;
  --c-button--font-weight: var(--font-weight-semi-bold);
  --c-button--padding: 0.5rem 1.5rem 0.4rem;
  --c-button-icon--margin: 0;
}

.c-button--small {
  --c-button--font: var(--font-ui-xs);
  --c-button--padding: var(--spacing-xs) var(--spacing-s);
}

.c-button--solid {
  --c-button--color: var(--color-secondary);
  --c-button--color-hover: var(--color-secondary-lighter-1);
  --c-button--background-color: var(--color-primary);
  --c-button--background-color-hover: var(--color-primary-lighter-1);
  --c-button--background-color-active: var(--color-primary-lighter-2);
}

.c-button.c-button--solid-inverted {
  --c-button--color: var(--color-primary);
  --c-button--background-color-hover: var(--color-secondary-lighter-1);
}

.c-button--main {
  --c-button--padding: 0.6rem 2rem 0.5rem;
}

.c-button--main:hover {
  --c-button--box-shadow-hover: 0 5px 15px 0 rgba(7, 126, 156, 0.35);
}

.c-button--solid-inverted {
  --c-button--color-hover: var(--color-primary);
  --c-button--background-color: var(--color-secondary);
  --c-button--background-color-hover: var(--color-secondary-darker-1);
}

:root {
  --c-button-clip-path:
    polygon(
      0 0.3em,
      0.3em 0,
      calc(100% - 0.4em) 0,
      100% calc(100% - 0.3em),
      calc(100% - 0.3em) 100%,
      0.4em 100%
    );
  --c-button-clip-path-hover:
    polygon(
      0.2em calc(100% - 0.3em),
      0.5em 0,
      calc(100% - 0.7em) 0,
      calc(100% - 0.4em) 0.3em,
      calc(100% - 0.7em) 100%,
      0.5em 100%
    );
  --c-button-transition: 200ms all cubic-bezier(0.17, 0.88, 0.27, 1.225);
}

.c-button.c-button--small {
  --c-button--padding: var(--spacing-xs) var(--spacing-s);
}

.c-button.c-button--outline, .c-button.c-button--outline-inverted {
  --c-button--border-width: 2px;
}

.c-button--main.c-button {
  background: none !important;
  clip-path: none !important;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0.3em 0.3em 0px var(--color-secondary));
}
.c-button--main.c-button.c-button--solid-inverted {
  filter: drop-shadow(0.3em 0.3em 0px var(--color-black-alpha-5));
}
.c-button--main.c-button::after {
  transition: var(--c-button-transition);
  content: "";
  z-index: -1;
  background-color: var(--c-button--background-color);
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0em 20%, 1em 0, calc(100% - 0.3em) 0, 100% 80%, calc(100% - 0.6em) 100%, 0.4em 100%);
}
.c-button--main.c-button:hover::after {
  clip-path: polygon(0em 40%, 0.3em 0, calc(100% - 0.9em) 0, 100% 35%, calc(100% - 0.4em) 100%, 0.9em 100%);
  background-color: var(--c-button--background-color-hover);
}

.c-button--solid, .c-button--solid-inverted, .c-button--clear {
  transition: var(--c-button-transition);
  clip-path: var(--c-button-clip-path);
}
.c-button--solid:hover, .c-button--solid-inverted:hover, .c-button--clear:hover {
  clip-path: var(--c-button-clip-path-hover);
}

.c-button--clear {
  clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
  transition-property: all;
}
.c-button--clear:hover {
  clip-path: polygon(0 0.3em, 0.3em 0, calc(100% - .4em) 0, 100% calc(100% - .3em), calc(100% - .3em) 100%, 0.4em 100%);
  margin-left: 0;
}

.c-button .icon {
  margin: var(--c-button--icon-margin);
}

.c-content-box__text {
  --c-content-box_rich-text--font-xs: var(--font-copy-xs);
  --c-content-box_rich-text--font-s: var(--font-copy-s);
  --c-content-box_rich-text--font-m: var(--font-copy-m);
  --c-content-box_topic--font-xs: var(--font-copy-xs);
  --c-content-box_topic--font-s: var(--font-copy-s);
  --c-content-box_topic--font-m: var(--font-copy-m);
  --c-content-box_topic--margin: 0 0 var(--spacing-xs) 0;
}

.l-section--dark {
  --c-content-box_topic--color: var(--l-section-dark-color);
}

.l-section--dark .c-content-box {
  --c-content-box_topic--color: var(--l-section-dark-color);
}

.c-content-box {
  color: var(--g-topic--color);
}
.c-content-box__image {
  margin-bottom: var(--spacing-s);
}

.c-content-box__body[min-width~="0px"] .c-content-box__topic {
  --c-content-box_topic--font: var(--c-content-box_topic--font-xs);
}
.c-content-box__body[min-width~="0px"] .c-rich-text {
  font: var(--c-content-box_rich-text--font-xs);
}
.c-content-box__body[min-width~="0px"] .c-button {
  --c-button--font: var(--font-ui-xs);
}

.c-content-box__body[min-width~="200px"] .c-content-box__topic {
  --c-content-box_topic--font: var(--c-content-box_topic--font-s);
}
.c-content-box__body[min-width~="200px"] .c-rich-text {
  font: var(--c-content-box_rich-text--font-s);
}
.c-content-box__body[min-width~="200px"] .c-button {
  --c-button--font: var(--font-ui-s);
}
@media (min-width: 60em) {
  .c-content-box__body[min-width~="200px"] .c-button {
    --c-button--font: var(--font-ui-xs);
  }
}

.c-content-box__body[min-width~="400px"] .c-content-box__topic {
  --c-content-box_topic--font: var(--c-content-box_topic--font-m);
}
.c-content-box__body[min-width~="400px"] .c-rich-text {
  font: var(--c-content-box_rich-text--font-m);
}
.c-content-box__body[min-width~="400px"] .c-button {
  --c-button--font: var(--font-ui-s);
}

@media (min-width: 40em) {
  #onetrust-banner-sdk .ot-sdk-container, #onetrust-pc-sdk .ot-sdk-container, #ot-sdk-cookie-policy .ot-sdk-container {
    padding-top: 30px !important;
  }
}
#onetrust-banner-sdk .ot-sdk-container, #onetrust-pc-sdk .ot-sdk-container, #ot-sdk-cookie-policy .ot-sdk-container {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

#onetrust-consent-sdk #onetrust-pc-sdk {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

#onetrust-pc-sdk .ot-pc-header {
  background-color: white !important;
}

#onetrust-pc-sdk .ot-accordion-layout h4 ~ .ot-tgl, #onetrust-pc-sdk .ot-accordion-layout h4 ~ .ot-always-active,
#onetrust-pc-sdk .ot-accordion-layout .ot-cat-header + .ot-arw-cntr .ot-arw,
#onetrust-pc-sdk .ot-accordion-layout .ot-cat-header + .ot-arw-cntr .ot-arw,
#onetrust-pc-sdk .ot-accordion-layout .ot-arw {
  color: white !important;
}

#onetrust-banner-sdk #onetrust-reject-all-handler {
  background-color: transparent !important;
  border-color: #ecff00 !important;
  color: #ecff00 !important;
}

#ot-sdk-btn.ot-sdk-show-settings {
  color: #ecff00 !important;
  font-weight: bold !important;
  width: 315px !important;
}

.kds-count-up {
  --c-count-up_icon--size: 200px;
}

.c-count-up {
  --c-count-up_text--font: var(--font-copy-s);
  --c-count-up_number--font: var(--font-copy-xxl);
  --c-count-up_number--font-weight: var(--font-weight-light);
}
.l-section--dark .c-count-up {
  --c-count-up_topic--color: var(--color-secondary);
  --c-count-up_number--color: var(--color-white);
}

.kds-count-up {
  position: relative;
  font-size: var(--font-size-xl);
}
.kds-count-up__progress {
  position: absolute;
  left: 50%;
  transform: translate(-50%) rotate(90deg);
  width: var(--c-count-up_icon--size);
  height: auto;
  box-sizing: border-box;
}
.kds-count-up__fill {
  position: relative;
  background: var(--l-section--background, white);
  height: var(--c-count-up_icon--size);
  width: var(--c-count-up_icon--size);
  outline: 0;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.kds-count-up--tokens .kds-count-up__fill {
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 99%, 0 13%);
}
.kds-count-up--components .kds-count-up__fill {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%, 0 93%);
}
.kds-count-up--properties .kds-count-up__fill {
  clip-path: polygon(0 0, 80% 0, 100% 13%, 100% 100%, 14% 100%, 0 93%);
}
.kds-count-up__fill .bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  visibility: hidden;
}
.kds-count-up__fill.active .bubbles {
  visibility: visible;
}
.kds-count-up__fill .bubble {
  position: absolute;
  bottom: -100px;
  width: 20px;
  height: 20px;
  background: var(--color-primary-alpha-4);
  border-radius: 50%;
  opacity: 0.75;
  animation: rise 10s infinite ease-in;
}
@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(calc(var(--c-count-up_icon--size) * -1));
  }
}
.kds-count-up__fill.active {
  background: var(--color-secondary);
}
.kds-count-up__fill.active::before {
  content: "";
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  display: block;
  background-size: 175px 175px;
  background-position: 10px 10px;
  position: relative;
  z-index: 1;
}
.kds-count-up--properties .kds-count-up__fill.active::before {
  background-image: url(/img/icons/count_properties.svg);
}
.kds-count-up--tokens .kds-count-up__fill.active::before {
  background-image: url(/img/icons/count_tokens.svg);
}
.kds-count-up--components .kds-count-up__fill.active::before {
  background-image: url(/img/icons/count_components.svg);
}
.kds-count-up__fill.active::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  background-color: var(--l-section--background, white);
  border-radius: 35%;
  animation: spin 3s ease-out forwards;
  z-index: 1;
}
@media (min-width: 60em) {
  .kds-count-up:nth-child(1) .kds-count-up__fill.active::after {
    animation-delay: 0s;
  }
  .kds-count-up:nth-child(2) .kds-count-up__fill.active::after {
    animation-delay: 300ms;
  }
  .kds-count-up:nth-child(3) .kds-count-up__fill.active::after {
    animation-delay: 600ms;
  }
}

.c-count-up__number {
  padding: 0.6em 0 0;
}
.c-count-up__text {
  --c-rich-text--font: var(--c-count-up_text--font);
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(400deg);
  }
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(1) {
  width: 20px;
  height: 20px;
  left: 10%;
  animation-duration: 8s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 30%;
  animation-duration: 8s;
  animation-delay: 0s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(3) {
  width: 25px;
  height: 25px;
  left: 85%;
  animation-duration: 7s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(4) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 7s;
  animation-delay: 4s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(5) {
  width: 10px;
  height: 10px;
  left: 40%;
  animation-duration: 4s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(6) {
  width: 22px;
  height: 22px;
  left: 25%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(7) {
  width: 45px;
  height: 45px;
  left: 30%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(8) {
  width: 12px;
  height: 12px;
  left: 50%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(9) {
  width: 7px;
  height: 7px;
  left: 30%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(10) {
  width: 45px;
  height: 45px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(11) {
  width: 15px;
  height: 15px;
  left: 0%;
  animation-duration: 8s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(12) {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(13) {
  width: 12px;
  height: 12px;
  left: 40%;
  animation-duration: 8s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(14) {
  width: 15px;
  height: 15px;
  left: 65%;
  animation-duration: 7s;
  animation-delay: 0s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(15) {
  width: 10px;
  height: 10px;
  left: 75%;
  animation-duration: 9s;
  animation-delay: 3s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(16) {
  width: 30px;
  height: 30px;
  left: 25%;
  animation-duration: 5s;
  animation-delay: 3s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(17) {
  width: 12px;
  height: 12px;
  left: 50%;
  animation-duration: 9s;
  animation-delay: 4s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(18) {
  width: 45px;
  height: 45px;
  left: 10%;
  animation-duration: 12s;
  animation-delay: 4s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(19) {
  width: 20px;
  height: 20px;
  left: 75%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(1) .kds-count-up__fill .bubble:nth-child(20) {
  width: 20px;
  height: 20px;
  left: 75%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(1) {
  width: 20px;
  height: 20px;
  left: 10%;
  animation-duration: 8s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(2) {
  width: 10px;
  height: 10px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(3) {
  width: 25px;
  height: 25px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(4) {
  width: 40px;
  height: 40px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(5) {
  width: 17px;
  height: 17px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(6) {
  width: 22px;
  height: 22px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(7) {
  width: 45px;
  height: 45px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(8) {
  width: 12px;
  height: 12px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(9) {
  width: 7px;
  height: 7px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(10) {
  width: 45px;
  height: 45px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(11) {
  width: 15px;
  height: 15px;
  left: 0%;
  animation-duration: 8s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(12) {
  width: 10px;
  height: 10px;
  left: 60%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(13) {
  width: 12px;
  height: 12px;
  left: 15%;
  animation-duration: 10s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(14) {
  width: 15px;
  height: 15px;
  left: 25%;
  animation-duration: 9s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(15) {
  width: 10px;
  height: 10px;
  left: 15%;
  animation-duration: 9s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(16) {
  width: 27px;
  height: 27px;
  left: 55%;
  animation-duration: 7s;
  animation-delay: 4s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(17) {
  width: 45px;
  height: 45px;
  left: 5%;
  animation-duration: 10s;
  animation-delay: 4s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(18) {
  width: 12px;
  height: 12px;
  left: 50%;
  animation-duration: 9s;
  animation-delay: 4s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(19) {
  width: 20px;
  height: 20px;
  left: 35%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(2) .kds-count-up__fill .bubble:nth-child(20) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(1) {
  width: 25px;
  height: 25px;
  left: 60%;
  animation-duration: 8s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(2) {
  width: 15px;
  height: 15px;
  left: 60%;
  animation-duration: 6s;
  animation-delay: 0s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(3) {
  width: 25px;
  height: 25px;
  left: 35%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(4) {
  width: 40px;
  height: 40px;
  left: 60%;
  animation-duration: 11s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(5) {
  width: 17px;
  height: 17px;
  left: 25%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(6) {
  width: 22px;
  height: 22px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 0s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(7) {
  width: 15px;
  height: 15px;
  left: 0%;
  animation-duration: 8s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(8) {
  width: 12px;
  height: 12px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(9) {
  width: 7px;
  height: 7px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(10) {
  width: 45px;
  height: 45px;
  left: 55%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(11) {
  width: 45px;
  height: 45px;
  left: 30%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(12) {
  width: 10px;
  height: 10px;
  left: 60%;
  animation-duration: 6s;
  animation-delay: 3s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(13) {
  width: 12px;
  height: 12px;
  left: 35%;
  animation-duration: 8s;
  animation-delay: 0s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(14) {
  width: 15px;
  height: 15px;
  left: 15%;
  animation-duration: 7s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(15) {
  width: 10px;
  height: 10px;
  left: 15%;
  animation-duration: 9s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(16) {
  width: 27px;
  height: 27px;
  left: 15%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(17) {
  width: 45px;
  height: 45px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(18) {
  width: 12px;
  height: 12px;
  left: 30%;
  animation-duration: 7s;
  animation-delay: 1s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(19) {
  width: 20px;
  height: 20px;
  left: 25%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.kds-count-up:nth-child(3) .kds-count-up__fill .bubble:nth-child(20) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 12s;
  animation-delay: 2s;
}

:root {
  --c-footer-font: var(--font-ui-s);
  --c-footer-color: var(--c-rich-text--color);
}

.kds-footer {
  font: var(--c-footer-font);
  color: var(--c-footer-color);
}
.kds-footer-main .l-section__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 60em) {
  .kds-footer-main .l-section__container {
    flex-direction: row;
  }
}
.kds-footer__logo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid var(--color-black-alpha-1);
  margin: var(--spacing-l) 0 0 0;
  padding: var(--spacing-l) 0 0 0;
}
@media (min-width: 60em) {
  .kds-footer__logo-wrap {
    margin: 0 0 0 var(--spacing-l);
    padding: 0 0 0 var(--spacing-l);
    border-left: 1px solid var(--color-black-alpha-1);
    border-top: 0;
  }
}
.kds-footer__logo-wrap p {
  font: var(--font-ui-xs);
  margin: var(--spacing-xs) 0;
}
.kds-footer__logo, .kds-footer a {
  display: inline-block;
  width: fit-content;
}
.kds-footer__logo:hover, .kds-footer a:hover {
  background: none;
}
.kds-footer__logo img, .kds-footer a img {
  height: var(--spacing-xl);
}
@media (min-width: 40em) {
  .kds-footer__logo img, .kds-footer a img {
    height: 3rem;
  }
}
@media (min-width: 75em) {
  .kds-footer__logo img, .kds-footer a img {
    height: 3rem;
  }
}

.kds-footer-nav {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
  grid-gap: var(--spacing-l);
}
@media (min-width: 40em) {
  .kds-footer-nav {
    flex-direction: row;
  }
}
.kds-footer-nav_headline {
  font-weight: var(--font-weight-bold);
  margin-top: unset;
  margin-bottom: var(--spacing-s);
}
.kds-footer-nav_list {
  padding: unset;
  margin: unset;
}
.kds-footer-nav_list_item {
  list-style: none;
  margin-bottom: var(--spacing-xs);
}
.kds-footer-nav_list_item_link, .kds-footer-nav_list_item a {
  color: var(--c-footer-color);
  text-decoration: none;
}
.kds-footer-nav_list_item_link:hover, .kds-footer-nav_list_item a:hover {
  color: var(--color-black);
  background: 0;
}

:root {
  --c-glossary--img-size: 5.5rem;
}
@media (min-width: 40.01em) {
  :root {
    --c-glossary--img-size: 10rem;
  }
}

.c-glossary-head__meta {
  position: relative;
  top: unset;
  margin-bottom: var(--spacing-xs);
}
.c-glossary-head__meta + .c-headline {
  margin-top: 0 !important;
}
.c-glossary--text-media.text-media--intext .text-media__gallery {
  float: left;
  padding-right: var(--spacing-m);
}
.c-glossary--text-media figure img {
  width: var(--c-glossary--img-size);
  height: var(--c-glossary--img-size);
}

:root {
  --g-logo-height: 1.7rem;
  --g-header-height: calc(var(--g-logo-height) + calc(var(--spacing-m) * 2));
}
@media (min-width: 40em) {
  :root {
    --g-logo-height: 2.5rem;
  }
}
@media (min-width: 90em) {
  :root {
    --g-logo-height: 3rem;
  }
}

.kds-header {
  display: flex;
  max-width: var(--g-content-width-wide);
  margin: auto;
  padding: var(--spacing-m) var(--g-content-padding);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.kds-header a {
  --g-link--text-decoration: none;
  --g-link--background-hover: none;
}
.kds-header__secondary {
  display: none;
}
.kds-header__secondary.mobile {
  display: block;
}
@media (min-width: 40em) {
  .kds-header__secondary {
    display: block;
    border-bottom: 1px solid var(--color-black-alpha-1);
    position: fixed;
    z-index: 3;
    background: white;
    top: 0;
    width: 100%;
  }
  .kds-header__secondary.mobile {
    display: none;
  }
}
.kds-header__logo {
  --g-link--background-hover: none;
}
@media (min-width: 40em) {
  .kds-header__logo {
    padding: 0;
  }
}
.kds-header__logo img {
  height: var(--g-logo-height);
  width: auto;
}
@media (min-width: 40em) {
  .kds-header__logo img {
    height: 2.5rem;
  }
}
@media (min-width: 90em) {
  .kds-header__logo img {
    height: 3rem;
  }
}
.kds-header__item {
  list-style: none;
}

.c-headline {
  --l-section-dark-color: var(--color-white);
  --c-headline--margin-bottom: var(--spacing-l);
}

.c-headline__subheadline {
  --c-headline_subheadline--color: var(--color-primary);
  --c-headline_subheadline--font-weight: var(--font-weight-semi-bold);
}

.l-section--dark p.c-headline__subheadline {
  --c-headline_subheadline--color: var(--color-primary-lighter-5);
}

.l-section--dark .c-headline {
  --c-headline--color: var(--color-secondary);
}

@media (min-width: 40em) {
  .c-headline {
    max-width: 100%;
  }
}
@media (min-width: 80em) {
  .c-headline {
    max-width: 90%;
  }
}

.c-post-head__meta + .c-headline {
  margin-top: 0 !important;
}

:root {
  --c-rich-text--color: var(--color-grey-7);
  --c-rich-text--vertical-spacing: var(--spacing-m);
}

.c-rich-text .has-large-font-size {
  color: var(--g-headline--color);
  font: var(--font-ui-l);
  margin-top: var(--spacing-xl);
}
.c-rich-text .has-large-font-size:first-child {
  margin-top: 0;
}
.c-rich-text strong {
  font-weight: var(--font-weight-bold);
}

.c-rich-text a, .c-rich-text.c-visual__text a {
  text-decoration: none;
  color: var(--g-link--color);
  font-weight: var(--font-weight-bold);
  padding: 2px;
}
.c-rich-text a:hover, .c-rich-text.c-visual__text a:hover {
  background: var(--g-link--backround-hover);
  color: var(--g-link--color-hover);
}

.l-section--dark .c-rich-text a {
  color: var(--color-secondary);
}
.l-section--dark .c-rich-text a:hover {
  background: var(--color-secondary-alpha-1);
}

.c-logo-tiles img {
  height: 100%;
}
@media (min-width: 60em) {
  .c-logo-tiles img {
    max-height: 90%;
    max-width: 90%;
  }
}

.c-quote {
  --c-quote--align: top;
  --c-quote__text--margin: var(--spacing-s);
  --c-quote_source--font: var(--font-ui-s);
}
.l-section--dark .c-quote {
  --c-quote_source--font: var(--font-ui-s);
  --c-quote_source--color: var(--color-white);
  --c-quote_icon--color: var(--l-section-dark-color);
}

.c-quote__text {
  margin-bottom: var(--c-quote__text--margin);
}
.c-quote__source, .c-quote__byline {
  color: var(--c-quote_source--color);
}

.l-section--accent {
  --l-section--background: #eceff3;
}

.l-section--dark {
  --l-section--background: var(--color-primary);
}

:root {
  --l-section--corner-top-left-height: var(--spacing-l);
  --l-section--corner-top-right-height: 0;
  --l-section--corner-bottom-left-height: var(--spacing-m);
  --l-section--corner-bottom-right-height: var(--spacing-xxl);
}

.l-section--dark {
  --c-rich-text--color: var(--l-section-dark-color);
  --g-headline--color: var(--l-section-dark-color);
  --color-info: #007eb4;
  --color-success: #008300;
  --color-warning: #b85b00;
  --color-error: #cc0000;
}

.triple-col .l-section__container {
  --l-section_col--min-width: 12rem;
}
@media (min-width: 1260px) {
  .triple-col .l-section__container {
    --l-section_col--min-width: 17rem;
  }
}

.l-section {
  margin: auto;
}
.l-section__container--max {
  max-width: var(--g-content-width-max);
}
.l-section__container--full {
  max-width: var(--g-content-width-max);
}
.l-section--outer-width-default {
  max-width: calc(100% - calc(var(--g-content-padding) * 2));
}
@media (min-width: 1235px) {
  .l-section--outer-width-default {
    max-width: calc(var(--g-content-width-default) - calc(var(--g-content-padding) * 2));
  }
}
.l-section--outer-width-narrow {
  max-width: calc(100% - calc(var(--g-content-padding) * 2));
}
@media (min-width: 960px) {
  .l-section--outer-width-narrow {
    max-width: calc(var(--g-content-width-narrow) - calc(var(--g-content-padding) * 2));
  }
}
.l-section--outer-width-wide {
  max-width: calc(100% - calc(var(--g-content-padding) * 2));
}
@media (min-width: 1500px) {
  .l-section--outer-width-wide {
    max-width: calc(var(--g-content-width-wide) - calc(var(--g-content-padding) * 2));
  }
}
.l-section--outer-width-max {
  max-width: calc(100% - calc(var(--g-content-padding) * 2));
}
@media (min-width: 1955px) {
  .l-section--outer-width-max {
    max-width: calc( var(--g-content-width-max) - calc(var(--g-content-padding) * 2));
  }
}
.l-section--outer-width-full {
  max-width: var(--g-content-width-full);
}
.l-section--content-width-narrow .l-section__container > * {
  max-width: var(--g-content-width-narrow);
  max-width: calc(var(--g-content-width-narrow) - calc(var(--g-content-padding) * 2));
}
.l-section__pattern {
  position: relative;
  overflow: hidden;
}
.l-section__pattern .l-section__container {
  z-index: 1;
  position: relative;
}
.l-section__pattern::before, .l-section__pattern::after {
  position: absolute;
  content: "";
  pointer-events: none;
}
@media (min-width: 40em) {
  .l-section__pattern::before, .l-section__pattern::after {
    transform: scale(1.5);
  }
}
.l-section__pattern::after {
  z-index: 0;
}
.l-section__pattern-1::before {
  left: -5em;
  top: 1em;
}
@media (min-width: 40em) {
  .l-section__pattern-1::before {
    top: 4em;
    left: -3em;
  }
}
@media (min-width: 130em) {
  .l-section__pattern-1::before {
    left: 15%;
  }
}
.l-section__pattern-1::after {
  bottom: 10%;
  right: -1.5em;
}
@media (min-width: 40em) {
  .l-section__pattern-1::after {
    right: 20px;
  }
}
@media (min-width: 130em) {
  .l-section__pattern-1::after {
    right: 15%;
  }
}
.l-section__pattern-1--dark::before {
  content: url(/patterns/pattern_1-dark--1.svg);
}
.l-section__pattern-1--dark::after {
  content: url(/patterns/pattern_1-dark--2.svg);
}
.l-section__pattern-1--light::before {
  content: url(/patterns/pattern_1-light--1.svg);
}
.l-section__pattern-1--light::after {
  content: url(/patterns/pattern_1-light--2.svg);
}
.l-section__pattern-2::before {
  left: -5em;
}
@media (min-width: 130em) {
  .l-section__pattern-2::before {
    left: 15%;
  }
}
.l-section__pattern-2::after {
  bottom: 10%;
  right: -6em;
}
@media (min-width: 40em) {
  .l-section__pattern-2::after {
    right: -2em;
  }
}
@media (min-width: 130em) {
  .l-section__pattern-2::after {
    right: 15%;
  }
}
.l-section__pattern-2--dark::before {
  content: url(/patterns/pattern_2-dark--1.svg);
}
.l-section__pattern-2--dark::after {
  content: url(/patterns/pattern_2-dark--2.svg);
}
.l-section__pattern-2--light::before {
  content: url(/patterns/pattern_2-light--1.svg);
}
.l-section__pattern-2--light::after {
  content: url(/patterns/pattern_2-light--2.svg);
}
.l-section--deko {
  clip-path: polygon(0% var(--l-section--corner-top-left-height), var(--spacing-xl) 0%, 100% 0, 100% calc(100% - var(--l-section--corner-bottom-right-height)), calc(100% - var(--l-section--space)) 100%, var(--spacing-m) 100%, 0 calc(100% - var(--l-section--corner-bottom-left-height)));
}
.l-section--deko.l-section--outer-width-narrow + .l-section--dark, .l-section--deko.l-section--outer-width-default + .l-section--dark, .l-section--deko.l-section--outer-width-wide + .l-section--dark, .l-section--deko.l-section--outer-width-max + .l-section--dark, .l-section--deko.l-section--outer-width-narrow + .l-section--accent, .l-section--deko.l-section--outer-width-default + .l-section--accent, .l-section--deko.l-section--outer-width-wide + .l-section--accent, .l-section--deko.l-section--outer-width-max + .l-section--accent {
  margin-top: var(--l-section--space);
}
.l-section--deko.l-section--outer-width-narrow + .l-section--dark.l-section--space-after-small, .l-section--deko.l-section--outer-width-default + .l-section--dark.l-section--space-after-small, .l-section--deko.l-section--outer-width-wide + .l-section--dark.l-section--space-after-small, .l-section--deko.l-section--outer-width-max + .l-section--dark.l-section--space-after-small, .l-section--deko.l-section--outer-width-narrow + .l-section--accent.l-section--space-after-small, .l-section--deko.l-section--outer-width-default + .l-section--accent.l-section--space-after-small, .l-section--deko.l-section--outer-width-wide + .l-section--accent.l-section--space-after-small, .l-section--deko.l-section--outer-width-max + .l-section--accent {
  margin-top: var(--l-section--space-small);
}
.l-section--deko.l-section--outer-width-full {
  z-index: 1;
}
.l-section--deko.l-section--outer-width-full + .l-section--accent {
  padding-top: calc(var(--l-section--corner-bottom-right-height) + var(--l-section--space));
  margin-top: calc(var(--l-section--corner-bottom-right-height) * -1);
}
.l-section--deko.l-section--outer-width-full + .l-section--accent.l-section--space-before-small {
  padding-top: calc(var(--l-section--corner-bottom-right-height) + var(--l-section--space-small));
  margin-top: calc(var(--l-section--corner-bottom-right-height) * -1);
}
.l-section--dark .c-teaser .c-rich-text a {
  color: var(--g-link--color);
}
.l-section--dark .c-teaser .c-rich-text a:hover {
  background: var(--g-link--backround-hover);
  color: var(--g-link--color-hover);
}
.l-section--dark .c-button--fill-animation:focus *,
.l-section--dark .c-button--fill-animation:hover * {
  color: var(--c-button_fill-animation--color-hover);
}
.l-section--dark .c-button *,
.l-section--dark .c-button--solid *,
.l-section--dark .c-button--solid-inverted *,
.l-section--dark .c-button---outline *,
.l-section--dark .c-button---outline-inverted * {
  color: var(--c-button--color);
}

.l-section--accent + .l-section--deko.l-section--outer-width-narrow,
.l-section--accent + .l-section--deko.l-section--outer-width-default,
.l-section--accent + .l-section--deko.l-section--outer-width-wide,
.l-section--accent + .l-section--deko.l-section--outer-width-max, .l-section--dark + .l-section--deko.l-section--outer-width-narrow,
.l-section--dark + .l-section--deko.l-section--outer-width-default,
.l-section--dark + .l-section--deko.l-section--outer-width-wide,
.l-section--dark + .l-section--deko.l-section--outer-width-max {
  margin-top: var(--l-section--space);
}
.l-section--accent + .l-section--deko.l-section--outer-width-narrow.l-section--space-after-small,
.l-section--accent + .l-section--deko.l-section--outer-width-default.l-section--space-after-small,
.l-section--accent + .l-section--deko.l-section--outer-width-wide.l-section--space-after-small,
.l-section--accent + .l-section--deko.l-section--outer-width-max.l-section--space-after-small, .l-section--dark + .l-section--deko.l-section--outer-width-narrow.l-section--space-after-small,
.l-section--dark + .l-section--deko.l-section--outer-width-default.l-section--space-after-small,
.l-section--dark + .l-section--deko.l-section--outer-width-wide.l-section--space-after-small,
.l-section--dark + .l-section--deko.l-section--outer-width-max.l-section--space-after-small {
  margin-top: var(--l-section--space-small);
}
.l-section--accent + .l-section--deko.l-section--outer-width-full, .l-section--dark + .l-section--deko.l-section--outer-width-full {
  margin-top: calc(var(--l-section--corner-top-left-height) * -1);
}

.c-slider {
  --c-slider-nav--margin: var(--spacing-m);
}

.l-section--dark .c-slider {
  --c-slider_arrow--color: var(--l-section-dark-color);
  --c-slider_arrow--background-hover: var(--color-white-alpha-1);
  --c-slider_bullet--outline-color: var(--l-section-dark-color);
  --c-slider_bullet--outline-color-active: var(--color-white);
  --c-slider_bullet--background-active: var(--color-white);
  --c-slider_bullet--background-hover: var(--color-white-alpha-1);
}

.c-slider-nav {
  margin-top: var(--c-slider-nav--margin);
}

.c-storytelling[data-bg] .c-headline > :first-child, .c-storytelling[data-bg] .c-rich-text {
  color: var(--l-section-dark-color);
}
.c-storytelling[data-bg] .c-headline__subheadline {
  color: var(--color-primary-lighter-4);
}

.c-tag-label {
  --c-tag-label--background-color: var(--color-primary-alpha-1);
  --tag-label--border: solid 2px var(--color-primary-alpha-0);
  --c-tag-label--border-radius: 0;
  --c-tag-label--color: var(--color-primary);
  --c-tag-label--font-weight: var(--font-weight-semi-bold);
  --c-tag-label--vertical-padding: var(--spacing-xs);
}

.tag-label-container {
  min-width: unset;
}

.c-teaser {
  --c-teaser--color: var(--color-grey-7);
  --c-teaser--background: var(--color-white);
  --c-teaser--background-hover: var(--color-white);
  --c-teaser--border-color: var(--color-primary-lighter-6);
  --c-teaser--border-color-hover: var(--color-primary);
  --c-teaser--border-width: 2px;
  --c-teaser--border-style: solid;
  --c-teaser--padding: 1em 1.2em;
  --c-teaser--shadow-hover: none;
}

.c-teaser__text {
  --c-teaser_rich-text--font-xs: var(--font-copy-xs);
  --c-teaser_rich-text--font-s: var(--font-copy-s);
  --c-teaser_rich-text--font-m: var(--font-copy-m);
  --c-teaser_topic--font-size-xs: var(--font-size-xs);
  --c-teaser_topic--font-size-s: var(--font-size-s);
  --c-teaser_topic--font-size-m: var(--font-size-m);
  --g-link--color: var(--color-primary);
  --c-teaser_text--spacing: var(--spacing-xs) !important;
}

@media (min-width: 40em) {
  .c-teaser {
    --c-teaser--border-width: 3px;
  }
}
.c-teaser--style-dark {
  --c-teaser--color: var(--color-white-alpha-9);
  --c-teaser--background: var(--color-primary);
  --c-teaser--background-hover: var(--color-primary-lighter-1);
  --c-teaser--border-color: var(--color-white);
  --c-teaser--border-color-hover: var(--color-white);
  --c-teaser--shadow-hover: none;
  --g-link--color: var(--color-secondary);
  --g-link--color-hover: var(--color-secondary);
  --g-link--backround-hover: var(--color-secondary-alpha-1);
}

.c-teaser--style-dark .c-teaser__text {
  --c-teaser--color: var(--color-white-alpha-9);
  --g-link--color: var(--color-secondary);
}

.l-section--dark .c-teaser {
  --c-teaser--border-color: var(--color-white);
  --c-teaser--border-color-hover: var(--color-primary-lighter-4);
  --c-teaser--background-hover: var(--color-white);
  --c-rich-text--color: var(--c-teaser--color);
}

.l-section--dark .c-teaser--style-dark {
  --c-teaser--border-color: var(--color-white-alpha-1);
  --c-teaser--border-color-hover: var(--color-secondary-darker-1);
  --c-teaser--background-hover: var(--color-primary);
  --c-rich-text--color: var(--l-section-dark-color);
}

.c-teaser--style-dark .c-teaser__topic {
  --c-teaser--color: var(--color-white);
}

.c-teaser__text {
  --c-rich-text--font: var(--font-copy-s);
  --g-topic--font: var(--font-copy-s);
  --c-teaser_text--spacing: var(--spacing-s);
}

.c-teaser {
  border-color: var(--c-teaser--border-color);
  border-width: var(--c-teaser--border-width);
  border-style: var(--c-teaser--border-style);
}
.c-teaser.js-linked {
  transition-property: all;
}
.c-teaser.js-linked:hover {
  border-color: var(--c-teaser--border-color-hover);
  background-color: var(--c-teaser--background-hover);
}
.c-teaser__body {
  padding: var(--c-teaser--padding);
}

.c-teaser__body[min-width~="0px"] .c-teaser__topic {
  font-size: var(--c-teaser_topic--font-size-xs);
}
.c-teaser__body[min-width~="0px"] .c-rich-text {
  font: var(--c-teaser_rich-text--font-xs);
}
.c-teaser__body[min-width~="0px"] .c-button {
  --c-button--font: var(--font-ui-xs);
}

.c-teaser__body[min-width~="200px"] .c-teaser__topic {
  font-size: var(--c-teaser_topic--font-size-s);
}
.c-teaser__body[min-width~="200px"] .c-rich-text {
  font: var(--c-teaser_rich-text--font-s);
}
.c-teaser__body[min-width~="200px"] .c-button {
  --c-button--font: var(--font-ui-s);
}
@media (min-width: 60em) {
  .c-teaser__body[min-width~="200px"] .c-button {
    --c-button--font: var(--font-ui-xs);
  }
}
.c-teaser__body[min-width~="200px"] .c-button.c-button--small {
  --c-button--font: var(--font-ui-xs);
}

.c-teaser__body[min-width~="400px"] .c-teaser__topic {
  font-size: var(--c-teaser_topic--font-size-m);
}
.c-teaser__body[min-width~="400px"] .c-rich-text {
  font: var(--c-teaser_rich-text--font-m);
}
.c-teaser__body[min-width~="400px"] .c-button {
  --c-button--font: var(--font-ui-s);
}
.c-teaser__body[min-width~="400px"] .c-button.c-button--small {
  --c-button--font: var(--font-ui-xs);
}

.c-visual {
  --c-visual--min-height: 35vh;
}
@media (min-width: 40em) {
  .c-visual {
    --c-visual--min-height: 60vh;
  }
}
@media (min-width: 40em) and (orientation: portrait) {
  .c-visual {
    --c-visual--min-height: 35rem;
  }
}
@media (min-height: 70em) {
  .c-visual {
    --c-visual--min-height: 35rem;
  }
}
@media (max-width: 39.99em) {
  .c-visual--full {
    height: unset;
  }
}
@media (min-width: 40em) {
  .c-visual__box {
    --c-visual_box--max-width: 70%;
  }
}
@media (min-width: 80em) {
  .c-visual__box {
    --c-visual_box--max-width: 45rem;
  }
}
.c-visual__box--transparent {
  --c-visual_box--background: transparent;
  --c-visual_headline--color: var(--color-black);
  --c-visual_box--color: var(--c-rich-text--color);
}

.c-visual .c-headline__subheadline {
  --c-headline_subheadline--color: var(--color-primary);
}
@media (min-width: 40em) {
  .c-visual__content {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }
}
.c-visual__box.c-visual__box--transparent {
  overflow: unset;
}
.c-visual--deko .c-visual__link {
  width: fit-content;
  position: relative;
}
.c-visual--deko .c-visual__link:hover::before, .c-visual--deko .c-visual__link:hover::after {
  transform: rotate(10deg);
  opacity: 1;
}
.c-visual--deko .c-visual__link::before, .c-visual--deko .c-visual__link::after {
  position: absolute;
  transform: scale(0.85);
  pointer-events: none;
  transition: var(--c-button-transition);
  opacity: 0.4;
  z-index: 2;
}
@media (min-width: 40em) {
  .c-visual--deko .c-visual__link::before, .c-visual--deko .c-visual__link::after {
    z-index: 2;
  }
}
.c-visual--deko .c-visual__link::before {
  content: url(/patterns/button_before.svg);
  bottom: -30%;
  left: -2em;
}
@media (min-width: 40em) {
  .c-visual--deko .c-visual__link::before {
    left: -2em;
  }
}
.c-visual--deko .c-visual__link::after {
  content: url(/patterns/button_after.svg);
  right: -2.25em;
  top: 0;
}
@media (min-width: 40em) {
  .c-visual .main-header-spacer + .c-visual--full, .c-visual .main-header-spacer + .l-section .c-visual--full {
    height: calc(100vh - var(--g-header-height));
  }
}
.c-visual__image img {
  object-fit: contain;
}
@media (min-width: 40em) {
  .c-visual--welcome {
    --c-visual--min-height: 10rem;
  }
  .c-visual--welcome .c-visual__box {
    --c-visual_box--max-width: 25rem;
  }
}

main {
  outline: none !important;
}

.c-post-head {
  position: relative;
}
.c-post-head__meta {
  position: absolute;
  top: 1rem;
}

.template {
  position: relative;
  margin: auto;
  gap: var(--spacing-xl);
  padding: 0 var(--g-content-padding);
}
@media (min-width: 40.01em) {
  .template {
    display: flex;
  }
}
.template .l-section {
  margin: unset;
}
.template .l-section__container {
  padding: 0;
}
.template--wide {
  max-width: var(--g-content-width-wide);
}
@media (min-width: 40.01em) {
  .template--wide {
    max-width: calc(100% - calc(var(--g-content-padding) * 2));
  }
}
@media (min-width: 1500px) {
  .template--wide {
    max-width: var(--g-content-width-wide);
  }
}
@media (min-width: 40.01em) {
  .template__main {
    width: 70%;
  }
}
@media (min-width: 40.01em) {
  .template__side {
    width: 30%;
  }
}

.related-post {
  padding: var(--spacing-m);
  background: var(--color-white);
}
.related-post .c-button {
  margin-top: var(--spacing-m);
}

.cta {
  background: var(--color-primary-alpha-1);
  padding: var(--spacing-xl) var(--spacing-xl);
  transition: 300ms all cubic-bezier(0.1, 0.9, 0.3, 1.5);
  cursor: pointer;
  clip-path: polygon(0% var(--spacing-m), var(--spacing-m) 0%, 100% 0, 100% calc(100% - var(--spacing-xxl)), calc(100% - var(--l-section--space)) 100%, var(--spacing-m) 100%, 0 calc(100% - var(--spacing-m)));
}
.cta .c-headline {
  max-width: 100%;
}
.cta .c-headline__headline {
  color: var(--color-primary);
}
.cta .c-storytelling {
  padding: 0;
  gap: var(--spacing-s);
}
.cta .c-storytelling__box {
  padding: 0 !important;
}
.cta .c-rich-text {
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}
.cta:hover {
  transform: scale(1.01) translateZ(0) perspective(1px);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  clip-path: polygon(0% var(--spacing-s), var(--spacing-s) 0%, 100% 0, 100% calc(100% - var(--spacing-xl)), calc(100% - var(--spacing-xl)) 100%, var(--spacing-l) 100%, 0 calc(100% - var(--spacing-l)));
}

/*# sourceMappingURL=index.css.map */
