:root {
  font-size: 20px;
  --color-primary-r: 6;
  --color-primary-g: 86;
  --color-primary-b: 106;
  --color-primary: #06566a;
  --color-primary-alpha-1: rgba(6, 86, 106, 0.1);
  --color-primary-alpha-2: rgba(6, 86, 106, 0.2);
  --color-primary-alpha-3: rgba(6, 86, 106, 0.3);
  --color-primary-alpha-4: rgba(6, 86, 106, 0.4);
  --color-primary-alpha-5: rgba(6, 86, 106, 0.5);
  --color-primary-alpha-6: rgba(6, 86, 106, 0.6);
  --color-primary-alpha-7: rgba(6, 86, 106, 0.7);
  --color-primary-alpha-8: rgba(6, 86, 106, 0.8);
  --color-primary-alpha-9: rgba(6, 86, 106, 0.9);
  --color-primary-lighter-1: #056a83;
  --color-primary-lighter-2: #116c81;
  --color-primary-lighter-3: #2c7c8f;
  --color-primary-lighter-4: #74b2c1;
  --color-primary-lighter-5: #a3d4e0;
  --color-primary-lighter-6: #e4e8ec;
  --color-primary-darker-1: #012f3a;
  --color-primary-darker-2: #03303b;
  --color-secondary: #ecff00;
  --color-secondary-alpha-1: rgba(236, 255, 0, 0.1);
  --color-secondary-alpha-2: rgba(236, 255, 0, 0.2);
  --color-secondary-alpha-3: rgba(236, 255, 0, 0.3);
  --color-secondary-alpha-4: rgba(236, 255, 0, 0.4);
  --color-secondary-alpha-5: rgba(236, 255, 0, 0.5);
  --color-secondary-alpha-6: rgba(236, 255, 0, 0.6);
  --color-secondary-alpha-7: rgba(236, 255, 0, 0.7);
  --color-secondary-alpha-8: rgba(236, 255, 0, 0.8);
  --color-secondary-alpha-9: rgba(236, 255, 0, 0.9);
  --color-secondary-lighter-1: #fbffc3;
  --color-secondary-lighter-2: #fdffe6;
  --color-secondary-darker-1: #e0f000;
  --color-secondary-darker-2: #cddb00;
  --color-white-r: 255;
  --color-white-g: 255;
  --color-white-b: 255;
  --color-white: #fff;
  --color-white-alpha-1: hsla(0, 0%, 100%, 0.1);
  --color-white-alpha-2: hsla(0, 0%, 100%, 0.2);
  --color-white-alpha-3: hsla(0, 0%, 100%, 0.3);
  --color-white-alpha-4: hsla(0, 0%, 100%, 0.4);
  --color-white-alpha-5: hsla(0, 0%, 100%, 0.5);
  --color-white-alpha-6: hsla(0, 0%, 100%, 0.6);
  --color-white-alpha-7: hsla(0, 0%, 100%, 0.7);
  --color-white-alpha-8: hsla(0, 0%, 100%, 0.8);
  --color-white-alpha-9: hsla(0, 0%, 100%, 0.95);
  --color-black-r: 5;
  --color-black-g: 5;
  --color-black-b: 5;
  --color-black: #050505;
  --color-black-alpha-1: rgba(5, 5, 5, 0.1);
  --color-black-alpha-2: rgba(5, 5, 5, 0.2);
  --color-black-alpha-3: rgba(5, 5, 5, 0.3);
  --color-black-alpha-4: rgba(5, 5, 5, 0.4);
  --color-black-alpha-5: rgba(5, 5, 5, 0.5);
  --color-black-alpha-6: rgba(5, 5, 5, 0.6);
  --color-black-alpha-7: rgba(5, 5, 5, 0.7);
  --color-black-alpha-8: rgba(5, 5, 5, 0.8);
  --color-black-alpha-9: rgba(5, 5, 5, 0.9);
  --color-grey-1: #e6e6e6;
  --color-grey-2: #cdcdcd;
  --color-grey-3: #b4b4b4;
  --color-grey-4: #9b9b9b;
  --color-grey-5: #828282;
  --color-grey-6: #696969;
  --color-grey-7: #444f52;
  --color-grey-8: #373737;
  --color-grey-9: #1e1e1e;
  --color-info: #007eb4;
  --color-success: #008300;
  --color-warning: #b85b00;
  --color-error: #cc0000;
  --spacing-xxs: 0.118rem;
  --spacing-xs: 0.25rem;
  --spacing-s: 0.65rem;
  --spacing-m: 0.85rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.9rem;
  --spacing-xxl: 3rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;
  --font-family-display: "Helvetica Neue", Arial, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, system-ui, -apple-system, system-ui, sans-serif;
  --font-family-copy: var(--font-family-display);
  --font-family-ui: var(--font-family-display);
  --line-height-factor-display: 1;
  --line-height-factor-copy: 1;
  --line-height-factor-ui: 1;
  --font-size-xs: 0.6rem;
  --font-size-s: 0.8rem;
  --font-size-m: 0.9rem;
  /* Copy, Subheadline */
  --font-size-l: 1.125rem;
  /* h3 */
  --font-size-xl: 1.35rem;
  /* h2 */
  --font-size-xxl: 1.75rem;
  /* h1 */
  --line-height-xs: 1rem;
  --line-height-s: 1.3rem;
  --line-height-m: 1.4rem;
  --line-height-l: 1.5rem;
  --line-height-xl: 1.75rem;
  --line-height-xxl: 2.15rem;
  --font-display-xs: var(--font-size-xs) /
    calc(var(--line-height-xs) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-s: var(--font-size-s) /
    calc(var(--line-height-s) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-l: var(--font-size-l) /
    calc(var(--line-height-l) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-m: var(--font-size-m) /
    calc(var(--line-height-m) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-xl: var(--font-size-xl) /
    calc(var(--line-height-xl) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-display-xxl: var(--font-size-xxl) /
    calc(var(--line-height-xxl) * var(--line-height-factor-display))
    var(--font-family-display);
  --font-copy-xs: var(--font-size-xs) /
    calc(var(--line-height-xs) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-s: var(--font-size-s) /
    calc(var(--line-height-s) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-l: var(--font-size-l) /
    calc(var(--line-height-l) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-m: var(--font-size-m) /
    calc(var(--line-height-m) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-xl: var(--font-size-xl) /
    calc(var(--line-height-xl) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-copy-xxl: var(--font-size-xxl) /
    calc(var(--line-height-xxl) * var(--line-height-factor-copy))
    var(--font-family-copy);
  --font-ui-xs: var(--font-size-xs) /
    calc(var(--line-height-xs) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-s: var(--font-size-s) /
    calc(var(--line-height-s) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-l: var(--font-size-l) /
    calc(var(--line-height-l) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-m: var(--font-size-m) /
    calc(var(--line-height-m) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-xl: var(--font-size-xl) /
    calc(var(--line-height-xl) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --font-ui-xxl: var(--font-size-xxl) /
    calc(var(--line-height-xxl) * var(--line-height-factor-ui))
    var(--font-family-ui);
  --g-link--color: var(--color-primary);
  --g-link--color-hover: var(--color-primary);
  --g-link--background-hover: var(--color-primary-alpha-1);
  --g-link--font-weight: var(--font-weight-bold);
  --g-link--text-decoration: none;
  --g-topic--color: var(--color-black);
  --g-header-height: 0px;
  --g-headline--color: var(--color-black);
  --g-headline--color: var(--color-black);
  --g-headline--font: var(--font-display-xxl);
  --g-headline--font-weight: var(--font-weight-bold);
  --g-content-width-narrow: 50rem;
  --g-content-width-default: 62rem;
  --g-content-width-wide: 70rem;
  --g-content-width-max: 96rem;
  --g-content-padding: var(--spacing-l);
  --l-section-dark-color: var(--color-white-alpha-9);
  --pswp--assets-path: url("img/lightbox/default-skin.svg");
}

@media (min-width: 30em) {
  :root {
    --g-content-padding: var(--spacing-xxl);
  }
}
@media (min-width: 40em) {
  :root {
    --g-content-padding: var(--spacing-xl);
    --spacing-xxs: 0.3rem;
    --spacing-xs: 0.4rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 3.5rem;
    --spacing-xxl: 4.25rem;
    --font-size-xs: 0.7rem;
    --font-size-s: 0.9375rem;
    --font-size-m: 1.125rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 1.75rem;
    --font-size-xxl: 2.25rem;
    --line-height-xs: 1.15rem;
    --line-height-s: 1.45rem;
    --line-height-m: 1.75rem;
    --line-height-l: 2rem;
    --line-height-xl: 2.5rem;
    --line-height-xxl: 3rem;
  }
}
@media (min-width: 60em) {
  :root {
    --spacing-m: 1.2rem;
    --spacing-l: 2.2rem;
    --spacing-xl: 4rem;
    --spacing-xxl: 5rem;
    --font-size-s: 0.9375rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.65rem;
    --line-height-xl: 2.75rem;
    --line-height-xxl: 3.5rem;
  }
}
@media (min-width: 90em) {
  :root {
    --spacing-s: 0.7rem;
    --spacing-m: 1.5rem;
    --spacing-l: 2.5rem;
    --spacing-xl: 4.5rem;
    --spacing-xxl: 7rem;
    --font-size-xxl: 2.875rem;
  }
}
.no-stretch {
  width: fit-content;
  text-align: center;
  margin: auto;
}

.sidebar-item svg {
  color: inherit;
}

/*# sourceMappingURL=manager.css.map */
