:root,
[ks-theme],
[ks-inverted] {
  .c-button {
    --c-button--border-radius: 0;
    --c-button--font-weight: var(--ks-font-weight-semi-bold);
    --c-button--padding: 0.35em 1em;
    --c-button-icon--margin: 0;
    --c-button--background-transition: var(--ks-transition-hover) all;

    --c-button--shadow-transition: var(--ks-transition-bounce) all;
    --c-button--shadow-color: var(--ks-color-primary-inverted);
    --c-button--border-color: var(--ks-border-color-primary-interactive);
    --c-button--border-color-hover: var(--ks-border-color-primary-interactive-hover);
  }

  [ks-inverted="true"] {
    .c-button:not(.c-button--clear) {
      --c-button--shadow-color: var(--ks-color-fg-alpha-2);
    }
  }

  .c-button--small {
    --c-button--font: var(--ks-font-interface-xs);
    --c-button--padding: 0.3rem 1rem;
  }

  .c-button--large {
    --c-button--font: var(--ks-font-interface-l);
    --c-button--padding: 0.5rem 1.5rem;
  }

  .c-button--clear {
    --c-button--shadow-color: transparent;
  }

  .c-button--highlighted {
    --c-button-transition: var(--ks-transition-bounce) all;
  }
}
