.c-button {
  --c-button--border-radius: 0;
  --c-button--font-weight: var(--font-weight-semi-bold);
  --c-button--padding: 0.5rem 1.5rem 0.4rem;
  --c-button-icon--margin: 0;
}

.c-button--small {
  --c-button--font: var(--font-ui-xs);
  --c-button--padding: var(--spacing-xs) var(--spacing-s);
}

.c-button--solid {
  --c-button--color: var(--color-secondary);
  --c-button--color-hover: var(--color-secondary-lighter-1);
  --c-button--background-color: var(--color-primary);
  --c-button--background-color-hover: var(--color-primary-lighter-1);
  --c-button--background-color-active: var(--color-primary-lighter-2);
}

.c-button.c-button--solid-inverted {
  --c-button--color: var(--color-primary);
  --c-button--background-color-hover: var(--color-secondary-lighter-1);
}

.c-button--main {
  --c-button--padding: 0.6rem 2rem 0.5rem;
}

.c-button--main:hover {
  --c-button--box-shadow-hover: 0 5px 15px 0 rgba(7, 126, 156, 0.35);
}

.c-button--solid-inverted {
  --c-button--color-hover: var(--color-primary);
  --c-button--background-color: var(--color-secondary);
  --c-button--background-color-hover: var(--color-secondary-darker-1);
}
