@use "source-snippet-tokens";
@use "../breakpoint";

.c-teaser.c-source-snippet {
  &:hover {
    .c-button.c-button--clear {
      --c-button--color: var(--c-button--color-hover);
    }
  }

  .c-teaser__body {
    flex-direction: column;
    .c-teaser__topic {
      color: var(--ks-color-fg);
    }
    .c-rich-text {
      color: var(--ks-text-color-interface);
      font: var(--c-rich-text--font);

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: var(--ks-spacing-s);

      .c-button--wrapper {
        margin-left: auto;

        .c-button.c-button--clear {
          --c-button--background-color-hover: transparent;

          background: transparent;
          padding: 0;
        }
      }
    }
  }

  &--mobile.c-teaser-box {
    flex-direction: row;
    gap: var(--ks-spacing-xs);

    > :first-child {
      max-width: 7.5rem;
      width: 100%;
      padding: var(--ks-spacing-xs);
    }

    .c-teaser__body {
      justify-content: center;
      --c-rich-text--font: var(--ks-font-mono-s);
      padding: var(--ks-spacing-inset-xs);

      .c-teaser__text {
        flex: none;
      }

      .c-teaser__link {
        margin-top: 0;

        .c-button {
          font: var(--ks-font-interface-xs);
        }
      }
    }
  }
}

.c-source-snippet--placeholder {
  background-color: var(--ks-background-color-primary-inverted);
  padding: var(--ks-spacing-inset-stretch-xs);
  font: var(--ks-font-mono-s);
  color: var(--ks-text-color-interface);
}
