@use "./related-tokens";
@use "../breakpoint";

:root,
[ks-theme],
[ks-inverted] {
  @include breakpoint.media(">s") {
  }
}

.kds-related {
  display: flex;
  flex-direction: column;
  gap: var(--ks-spacing-xs);
  text-decoration: none;

  &:hover {
    .kds-related--topic {
      color: var(--ks-text-color-primary);
      background-color: var(--ks-color-primary-alpha-2);
    }

    .kds-related--image-wrapper {
      &:before {
        opacity: 0.15;
      }
    }
  }

  &--image-wrapper {
    position: relative;
    aspect-ratio: 16/9;
    overflow: hidden;

    &:before {
      pointer-events: none;
      transition: var(--ks-transition-hover) opacity;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: var(--ks-color-fg-inverted-base);
      top: 0;
      left: 0;
    }
  }

  &--image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &--type {
    background-color: var(--ks-color-primary-to-bg-2);
    color: var(--ks-color-primary-to-bg-8);
    padding: var(--ks-spacing-inset-squish-xs);
    font: var(--ks-font-interface-xs);
    font-weight: var(--ks-font-weight-semi-bold);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 700;
  }

  &--topic-wrapper {
    display: block;
  }

  &--topic {
    color: var(--g-headline-color);
    transition: var(--ks-transition-hover) all;
    font: var(--ks-font-copy-m);
    font-weight: var(--ks-font-weight-semi-bold);
    display: inline;
  }
}

a.kds-related {
  text-decoration: none;
}
