@use './tokens.css';
@use 'button/button.scss';
@use 'content-box/content-box.scss';
@use 'cookiepro/theming.scss';
@use 'count-up/count-up.scss';
@use 'footer/footer.scss';
@use 'footer/footer-nav.scss';
@use 'header/header.scss';
@use 'headline/headline.scss';
@use 'rich-text/rich-text.scss';
@use 'logo-tiles/logo-tiles.scss';
@use 'section/section.scss';
@use 'slider/slider.scss';
@use 'teaser-box/teaser-box.scss';
@use 'storytelling/storytelling.scss';
@use 'visual/visual.scss';
@use 'zitat/zitat.scss';

iframe#launcher {
    filter: 
    drop-shadow(3px 0px 0px rgba(255,255,255,0.15))
    drop-shadow(-3px 0px 0px rgba(255,255,255,0.15))
    drop-shadow(0px 3px 0px rgba(255,255,255,0.15))
    drop-shadow(0px -3px 0px rgba(255,255,255,0.15)) 
    ;
  }

  main {
    outline: none !important;
  }

.c-post-head {
position: relative;

  &__meta {
    position: absolute;
    top: 1rem;
  }
}
