@use './tokens.css';
@use 'post/post.scss';
@use 'button/button.scss';
@use 'contact/contact.scss';
@use 'content-box/content-box.scss';
@use 'cookiepro/theming.scss';
@use 'count-up/count-up.scss';
@use 'count-up/bubble-delay.scss';
@use 'cta/cta.scss';
@use 'footer/footer.scss';
@use 'footer/footer-nav.scss';
@use 'form/form.scss';
@use 'form-field/form-field.scss';
@use 'glossary/glossary.scss';
@use 'header/header.scss';
@use 'headline/headline.scss';
@use 'rich-text/rich-text.scss';
@use 'logo-tiles/logo-tiles.scss';
@use 'quote/quote.scss';
@use 'share-bar/share-bar.scss';
@use 'section/section.scss';
@use 'slider/slider.scss';
@use 'storytelling/storytelling.scss';
@use 'tag-label/tag-label.scss';
@use 'teaser-box/teaser-box.scss';
@use 'template/template.scss';
@use 'visual/visual.scss';

@use '@kickstartds/core/source/core/breakpoint';

main {
  outline: none !important;
}

.c-post-head {
  position: relative;

  &__meta {
    position: absolute;
    top: 1rem;
  }
}
