@use "../breakpoint";

:root,
[ks-theme],
[ks-inverted] {
  --c-footer-font: var(--ks-font-ui-s);
  --c-footer-color: var(--c-rich-text--color);
}

.kds-footer {
  &-main {
    .l-section__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint.media("≥m") {
        flex-direction: row;
      }
    }
  }

  font: var(--c-footer-font);
  color: var(--c-footer-color);

  &__logo-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: 1px solid var(--ks-border-color-accent);
    margin: var(--ks-spacing-l) 0 0 0;
    padding: var(--ks-spacing-l) 0 0 0;

    @include breakpoint.media("≥m") {
      margin: 0 0 0 var(--ks-spacing-l);
      padding: 0 0 0 var(--ks-spacing-l);
      border-left: 1px solid var(--ks-border-color-accent);
      border-top: 0;
    }

    p {
      font: var(--ks-font-ui-xs);
      margin: var(--ks-spacing-xs) 0;
    }
  }

  &__logo,
  a {
    display: inline-block;
    width: fit-content;

    &:hover {
      background: none;
    }

    img {
      height: var(--g-logo-height);

      @include breakpoint.media("≥s") {
        height: 3rem;
      }

      @include breakpoint.media("≥xl") {
        height: 3rem;
      }
    }
  }
}
