@use './glossary-tokens';
@use '@kickstartds/core/source/core/breakpoint';

:root {
  --c-glossary--img-size: 5.5rem;
  
  @include breakpoint.media(">s") {
    --c-glossary--img-size: 10rem;
  }
}

.c-glossary {

  &-head {
    &__meta {
      position: relative;
      top: unset;
      margin-bottom: var(--spacing-xs);
  
       + .c-headline {
        margin-top: 0 !important;
      }
    }
  }

  &--text-media {

    &.text-media--intext .text-media__gallery {
      float: left;
      padding-right: var(--spacing-m);
    }

    figure {
      img {
        width: var(--c-glossary--img-size);
        height: var(--c-glossary--img-size);
      }
    }
  }
}