@use "./glossary-tokens";
@use "../breakpoint";

:root,
[ks-theme],
[ks-inverted] {
  // --c-glossary-icon--size: calc(var(--ks-line-height-copy-m) * var(--ks-font-size-copy-m) * 3);

  --c-glossary-icon--spacing: var(--ks-spacing-xs);
  --c-glossary-icon--size: calc(
    calc(var(--ks-line-height-copy-m) * var(--ks-font-size-copy-m) * 3) - var(--c-glossary-icon--spacing)
  );
}

.c-glossary {
  &--text-media {
    &.text-media--intext .text-media__gallery {
      float: left;
      padding-right: var(--c-glossary-icon--spacing);
      padding-bottom: var(--c-glossary-icon--spacing);
    }

    figure {
      img {
        width: var(--c-glossary-icon--size);
        height: var(--c-glossary-icon--size);
      }
    }
  }
}
