@use "./post-share-bar-tokens";

:root,
[ks-theme],
[ks-inverted] {
  .c-post-share-bar {
    --g-link--background-hover: transparent;
    --ks-text-color-default-interactive: var(--ks-color-primary-alpha-5);

    .c-headline {
      --c-headline--margin-bottom: 0;
      --c-headline--color: var(--ks-color-fg-to-bg-3);
    }

    &__link {
      color: var(--ks-color-primary-alpha-5);

      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}
